{extend name="public/base"}

<!-- 首屏开始 -->


<!--首屏结束-->
<!--搜索栏开始-->

<!--搜索栏结束-->
{block name="content"}
<div class="page-nav">
    <div class="page-inner">
        <a href="#" class="link link-150">项目分类</a>
        <a href="{:url('Index/slist')}" class="link link-175">项目库</a>
        <a href="{:url('Index/detail')}" class="link link-175">排行榜</a>
        <a href="{:url('Index/newslist')}" class="link link-175">创业资讯</a>
        <a href="#" class="link link-175">精选展会</a>
        <span style="color: #fff;float: right;line-height: 40px;">更新时间：2019-06-18</span></div>
</div>
<div class="page-zhome-content">
    <div class="page-inner topinner">
        <!--  项目分类  -->
        <ul id="zhome-ul-menu" class="div-left ul-menu">
            <!-- <z:if condition="${Catalog.Alias!='project_ws'}"> -->
            {volist name="clas" id="vo"}
            <li>
                <a href="{:url('Index/slist')}?class_id={$vo.class_id}" target="_blank" class="link">{$vo.name} /{volist
                    name="vo['son']" id="item"
                    length="1"}{$item.name}{/volist}
                    <i class="icon icon-ic-nav-arrow-grey"></i></a>
                <ul class="ul-submenu clearfix hidden">
                    <li class="li-title">
                        <a href="{:url('Index/slist')}?class_id={$vo.class_id}" target="_blank"
                           class="link">{$vo.name}</a></li>
                    {volist name="vo['son']" id="item"}
                    <li>
                        <a href="{:url('Index/slist')}?class_id={$item.class_id}" target="_blank" class="link">{$item.name}</a>
                    </li>
                    <li>
                        {/volist}
                </ul>
            </li>
            {/volist}
            <!--</z:if> -->
            <!-- <z:if condition="${Catalog.Alias!='project_ws'}"> -->

            <!--</z:if> -->
            <!--     <li class="erweimabox">
                     <p>扫一扫有惊喜</p>
                     <img src="__PUB08__/picture/newcode.png"/></li>-->
        </ul>
        <!--轮播图-->
        <div class="div-center">
            <div id="zhome-slideshow" class="div-slideshow">
                <div class="slideshow-images">
                    <div class="images-inner" style="width: 1760px; height: 194px; left: 0px;">
                        {volist name = "ad_position" id = "item"}
                        {if $item.ad_id eq 1001 && $i<=6}
                        <a href="{:url('Index/project')}?project_id={$item.project_id}" data-id="76730"
                           data-type="cmsad" target="_blank" class="link">
                            <img src="{$item.image}" class="img"/></a>
                        {else/}{php}$i--;{/php}
                        {/if}
                        {/volist}
                    </div>
                </div>
                <div class="slideshow-dots">
                    <div class="dots-inner"></div>
                </div>
                <!--<div class="slideshow-dots">
        <div class="dots-inner">
        <div class="icon icon-slide-dot-active" data-idx="0"></div>
        <div class="icon icon-slide-dot-normal" data-idx="1"></div></div>
        </div>-->
                <!--轮播图下面-->
            </div>
            <div class="div-zhome-panel">
                <div class="div-title">
                    <div class="div-inner clearfix">
                        <a href="#" target="_blank" class="link-title icon-bg-block-1">
                            <i>
                            </i>
                        </a>
                        <div data-id="pc1_a02_label" data-type="cmsadpos"></div>
                        {volist name = "ad_position" id = "item"}
                        {if $item.ad_id eq 1002 && $i<=6}
                        <a href="{:url('Index/project')}?project_id={$item.project_id}" data-id="54613"
                           data-type="cmsad" target="_blank" class="link-other">{$item.name}</a>
                        {else/}{php}$i--;{/php}
                        {/if}
                        {/volist}
                        <a href="{:url('Index/slist')}" target="_blank" class="link-more">MORE</a></div>
                </div>
                <div class="div-body">
                    <div class="div-inner clearfix">
                        <div class="swiper-wrapper">
                            {volist name = "ad_position" id = "item"}
                            {if $item.ad_id eq 1003 && $i<=4}
                            <a href="{:url('Index/project')}?project_id={$item.project_id}" data-id="80651"
                               data-type="cmsad" target="_blank" class="link">
                                <img src="{$item.image}" class="img" alt=""></a>
                            {else/}{php}$i--;{/php}
                            {/if}
                            {/volist}
                        </div>
                        <div class="swiper-pagination" style="top: 90%;"></div>
                    </div>
                </div>
            </div>
            <div class="div-zhome-panel">
                <div class="div-title">
                    <div class="div-inner clearfix">
                        <a href="#" target="_blank" class="link-title icon-bg-block-2">
                            <i>
                            </i>
                        </a>
                        <div data-id="pc1_a03_label" data-type="cmsadpos"></div>
                        {volist name = "ad_position" id = "item"}
                        {if $item.ad_id eq 1004 && $i<=6}
                        <a href="#" data-id="52439" data-type="cmsad" target="_blank"
                           class="link-other">{$item.name}</a>
                        {else/}{php}$i--;{/php}
                        {/if}
                        {/volist}
                        <a href="{:url('Index/slist')}" target="_blank" class="link-more">MORE</a>
                    </div>
                </div>
                <div class="div-body" data-id="pc1_a03" data-type="cmsadpos">
                    <div class="div-inner clearfix">
                        {volist name = "ad_position" id = "item"}
                        {if $item.ad_id eq 1005 && $i<=6}
                        <a href="{:url('Index/project')}?project_id={$item.project_id}" data-id="57182"
                           data-type="cmsad" target="_blank" class="link">
                            <img src="{$item.image}" class="img" alt=""/></a>
                        {else/}{php}$i--;{/php}
                        {/if}
                        {/volist}
                    </div>
                </div>
            </div>
        </div>
        <!--头条-->
        <div class="div-right">
            <div class="div-zhome-rpanel">
                <div class="div-nav-login" id="hornDiv">
                    <span class="l-index-horn"></span>
                    <ul class="l-horn-ul" id="hornUl" style="margin-top: 0px;">
                        {volist name = "ad_position" id = "item"}
                        {if $item.ad_id eq 1006}
                        <li>
                            <a href="{:url('Index/project')}?project_id={$item.project_id}">{$item.name}诚邀加盟</a></li>
                        {/if}
                        {/volist}
                    </ul>
                </div>
                <div class="div-title">
                    <div class="div-inner clearfix">
                        <h1></h1>
                    </div>
                </div>
                <div class="div-body" data-id="pc1_a04" data-type="cmsadpos">
                    <div class="div-inner clearfix">
                        {volist name = "ad_position" id = "item"}
                        {if $item.ad_id eq 1007 && $i<=10}
                        <a href="{:url('Index/project')}?project_id={$item.project_id}"
                           data-id="29515" data-type="cmsad" target="_blank" class="link link-active">
                            <i class="icon-ic-panel-rank icon-ic-panel-rank-1r"></i>
                            <span class="text-num">{$i}</span>
                            <span class="text-name">{$item.name}</span>
                            <span class="text-hot">
                <i class="icon icon-ic-panel-fire-small"></i>{$item.attention}</span>
                        </a>
                        {else/}{php}$i--;{/php}
                        {/if}
                        {/volist}
                    </div>
                </div>
            </div>
            <!--资讯小表-->
            <div id="div-zhome-list-text" class="div-zhome-list-text">
                <div class="div-title">
                    <a href="#" class="link-tab link-active">资讯</a>
                    <a href="#" class="link-tab">专题</a></div>
                <div class="div-body" id="zxScroll">
                    <div class="div-inner clearfix">
                        <div class="content-tab" id="zxScrollContent" style="margin-top: -6.96965px;">
                            {volist name = "article" id = "vo"}
                            {if $vo.type eq 1}
                            <a href="{:url('Index/detail')}?article_id={$vo.article_id}" class="link">
                                <i class="icon icon-ic-dot-red"></i>{$vo.title}</a>
                            {/if}
                            {/volist}
                        </div>
                        <div class="content-tab hidden">
                            {volist name = "article" id = "vo"}
                            {if $vo.type eq 4 && $i<=10}
                            <a href="{:url('Index/detail')}?article_id={$vo.article_id}" class="link">
                                <i class="icon icon-ic-dot-red"></i>{$vo.title}</a>
                            {else/}{php}$i--;{/php}
                            {/if}
                            {/volist}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 上面是首屏结束 -->


<!-- 餐饮美食开始 -->
<div id="f8" class="floor bottom">
    <div class="main">
        <div class="top">
            <p>
                {volist name = "ad_position" id = "item"}
                {if $item.ad_id eq 1008 && $i<=6}
                <a target="_blank" href="{:url('Index/project')}?project_id={$item.project_id}">{$item.name}</a>|
                {else/}{php}$i--;{/php}
                {/if}
                {/volist}
            </p>
            <div class="clearfix"></div>
        </div>
        <div class="left">
            <div class="l_top">
                {volist name = "ad_position" id = "item"}
                {if $item.ad_id eq 1012 && $i<=1}
                <div class="topMain">
                    <i class="light"></i>
                    <h4>{item.name}</h4>
                    <dl>
                        <dt>
                            <img src="{$item.image}" alt=""/></dt>
                        <dd class="one">{item.abbr}</dd>
                        <dd class="two">
              <span>关注度：
                <i>{item.attention}万</i>
              </span>
                            <span>咨询：
                <i>{item.click_num}</i>
              </span>
                        </dd>
                    </dl>
                    <div class="btns">
                        <a href="{:url('Index/project')}?project_id={$item.project_id}" target="_blank">查看详情</a>
                        <a href="#" target="_blank" class="active">立即咨询</a></div>
                </div>
                {else/}{php}$i--;{/php}
                {/if}
                {/volist}
            </div>
            <div class="l_com">
                {volist name = "ad_position" id = "item"}
                {if $item.ad_id eq 1013 && $i<=1}
                <dl>
                    <dt>
                        <img src="{$item.image}" alt=""/></dt>
                    <dd>{item.abbr}</dd>
                </dl>
                <div class="btns">
                    <a href="{:url('Index/project')}?project_id={$item.project_id}" target="_blank">查看详情</a>
                    <a href="#" target="_blank" class="active">立即咨询</a></div>
                {else/}{php}$i--;{/php}
                {/if}
                {/volist}
                <ul>
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1011 && $i<=4}
                    <li>
                        <a href="{:url('Index/project')}?project_id={$item.project_id}" target="_blank">
                            <img src="{$item.image}" alt=""/></a>
                    </li>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </ul>

            </div>
        </div>
        <div class="right">
            <div class="topImg">
                <ul>
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1009 && $i<=8}
                    <li>
                        <a href="{:url('Index/project')}?project_id={$item.project_id}" target="_blank">
                            <img src="{$item.image}" alt=""/></a>
                    </li>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </ul>
            </div>
            <div class="mainImg">
                <div class="box">
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1010 && $i<=24}
                    <dl>
                        <a href="{:url('Index/project')}?project_id={$item.project_id}">
                            <dt>
                                <img src="{$item.image}" alt=""/></dt>
                            <dd>{$item.name}</dd>
                        </a>
                    </dl>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<!-- 餐饮美食结束 -->

<!-- 服装鞋帽开始 -->
<div id="f9" class="floor bottom">
    <div class="main">
        <div class="top">
            <p>
                {volist name = "ad_position" id = "item"}
                {if $item.ad_id eq 1014 && $i<=6}
                <a target="_blank" href="{:url('Index/project')}?project_id={$item.project_id}">{$item.name}</a>|
                {else/}{php}$i--;{/php}
                {/if}
                {/volist}
            </p>
            <div class="clearfix"></div>
        </div>
        <div class="left">
            <div class="l_top">
                {volist name = "ad_position" id = "item"}
                {if $item.ad_id eq 1018 && $i<=1}
                <div class="topMain">
                    <i class="light"></i>
                    <h4>{item.name}</h4>
                    <dl>
                        <img src="{$item.image}" alt=""/></dt>
                        <dd class="one">{item.abbr}</dd>
                        <dd class="two"><span>关注度：<i>{item.attention}万</i></span><span>咨询：<i>{item.click_num}</i></span>
                        </dd>
                    </dl>
                    <div class="btns">
                        <a href="{:url('Index/project')}?project_id={$item.project_id}" target="_blank">查看详情</a>
                        <a href="#" target="_blank" class="active">立即咨询</a>
                    </div>
                </div>
                {else/}{php}$i--;{/php}
                {/if}
                {/volist}
            </div>

            <div class="l_com">
                {volist name = "ad_position" id = "item"}
                {if $item.ad_id eq 1019 && $i<=1}
                <dl>
                    <dt><img src="{$item.image}" alt=""/></dt>
                    <dd>{item.abbr}</dd>
                </dl>
                <div class="btns">
                    <a href="{:url('Index/project')}?project_id={$item.project_id}" target="_blank">查看详情</a>
                    <a href="#" target="_blank" class="active">立即咨询</a>
                </div>
                {else/}{php}$i--;{/php}
                {/if}
                {/volist}
                <ul>
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1017 && $i<=4}
                    <li><a href="{:url('Index/project')}?project_id={$item.project_id}" target="_blank">
                        <img src="{$item.image}" alt=""/></a></li>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="topImg">
                <ul>
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1015 && $i<=8}
                    <li>
                        <a href="{:url('Index/project')}?project_id={$item.project_id}" target="_blank">
                            <img src="{$item.image}" alt=""/></a>
                    </li>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </ul>
            </div>
            <div class="mainImg">
                <div class="box">

                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1016 && $i<=24}
                    <dl>
                        <a href="{:url('Index/project')}?project_id={$item.project_id}">
                            <dt>
                                <img src="{$item.image}" alt=""/></dt>
                            <dd>{$item.name}</dd>
                        </a>
                    </dl>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}

                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- 服装鞋帽结束 -->


<!-- 家居建材开始 -->
<div id="f10" class="floor bottom">
    <div class="main">
        <div class="top">
            <p>
                {volist name = "ad_position" id = "item"}
                {if $item.ad_id eq 1020 && $i<=6}
                <a target="_blank" href="{:url('Index/project')}?project_id={$item.project_id}">{$item.name}</a>|
                {else/}{php}$i--;{/php}
                {/if}
                {/volist}
            </p>
            <div class="clearfix"></div>
        </div>
        <div class="left">
            <div class="l_top">
                <div class="topMain">
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1024 && $i<=1}
                    <i class="light"></i>
                    <h4>{item.name}</h4>
                    <dl>
                        <dt><img src="{$item.image}" alt=""/></dt>
                        <dd class="one">{item.abbr}</dd>
                        <dd class="two"><span>关注度：<i>{item.attention}万</i></span><span>咨询：<i>{item.click_num}</i></span>
                        </dd>
                    </dl>
                    <div class="btns">
                        <a href="{:url('Index/project')}?project_id={$item.project_id}" target="_blank">查看详情</a>
                        <a href="#" target="_blank" class="active">立即咨询</a>
                    </div>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </div>
            </div>
            <div class="l_com">
                {volist name = "ad_position" id = "item"}
                {if $item.ad_id eq 1025 && $i<=1}
                <dl>
                    <dt><img src="{$item.image}" alt=""/></dt>
                    <dd>{$item.image}</dd>
                </dl>
                <div class="btns">
                    <a href="{:url('Index/project')}?project_id={$item.project_id}" target="_blank">查看详情</a>
                    <a href="#" target="_blank" class="active">立即咨询</a>
                </div>
                {else/}{php}$i--;{/php}
                {/if}
                {/volist}
                <ul>
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1023 && $i<=4}
                    <li><a href="{:url('Index/project')}?project_id={$item.project_id}" target="_blank">
                        <img src="{$item.image}" alt=""/></a></li>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="topImg">
                <ul>
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1021 && $i<=8}
                    <li><a href="{:url('Index/project')}?project_id={$item.project_id}" target="_blank">
                        <img src="{$item.image}" alt=""/></a></li>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </ul>
            </div>
            <div class="mainImg">
                <div class="box">
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1022 && $i<=24}
                    <dl>
                        <a href="{:url('Index/project')}?project_id={$item.project_id}">
                            <dt>
                                <img src="{$item.image}" alt=""/></dt>
                            <dd>{$item.name}</dd>
                        </a>
                    </dl>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- 家居建材结束 -->


<!-- 热门资讯开始 -->
<div class="div-zhome-block div-zhome-jmzx">
    <div class="div-inner">
        <div class="div-title">
            <h1>
                <img src="__PUB08__/picture/headlines-jmzx.png" alt="">热门资讯</h1>
            <a href="{:url('Index/newslist')}" target="_blank" class="link-more">
                <i>
                </i>查看更多</a>
        </div>
        <div class="div-body clearfix">
            <div class="div-col-2x5">
                <ul>
                    <li class="link-active" style="box-shadow: none; top: 0px;">
                        <h2>项目资讯</h2>
                        <div class="div-item">
                            {volist name = "article" id = "item"}
                            {if $item.type eq 1}
                            {if $i==1}
                            <a href="{:url('Index/detail')}?article_id={$item.article_id}" class="link-topic">
                                <div class="div-img">
                                    <img src="{$item.lis_img}" class="img" alt=""></div>
                                <div class="div-text">{$item.title}
                                    <span>{$item.create_time}</span></div>
                            </a>
                            {elseif condition="$i>1 && $i<=7" /}
                            <a href="{:url('Index/detail')}?article_id={$item.article_id}" class="link">
                                <i class="icon icon-ic-dot-grey fl"></i>
                                <span class="fl texts">{$item.title}</span>
                                <span class="fr time">{$item.create_time}</span></a>
                            {else/}{php}$i--;{/php}
                            {/if}
                            {/if}
                            {/volist}
                        </div>
                    </li>
                    <li class="" style="box-shadow: none; top: 0px;">
                        <h2>创业资讯</h2>
                        <div class="div-item">
                            {volist name = "article" id = "item"}
                            {if $item.type eq 2}
                            {if $i==1}
                            <a href="{:url('Index/detail')}?article_id={$item.article_id}" class="link-topic">
                                <div class="div-img">
                                    <img src="{$item.lis_img}" class="img" alt=""></div>
                                <div class="div-text">{$item.title}
                                    <span>{$item.create_time}</span></div>
                            </a>
                            {elseif condition="$i>1 && $i<=7" /}
                            <a href="{:url('Index/detail')}?article_id={$item.article_id}" class="link">
                                <i class="icon icon-ic-dot-grey fl"></i>
                                <span class="fl texts">{$item.title}</span>
                                <span class="fr time">{$item.create_time}</span></a>
                            {else/}{php}$i--;{/php}
                            {/if}
                            {/if}
                            {/volist}
                        </div>
                    </li>
                    <li>
                        <h2>新闻资讯</h2>
                        <div class="div-item">
                            {volist name = "article" id = "item"}
                            {if $item.type eq 3}
                            {if $i==1}
                            <a href="{:url('Index/detail')}?article_id={$item.article_id}" class="link-topic">
                                <div class="div-img">
                                    <img src="{$item.lis_img}" class="img" alt=""></div>
                                <div class="div-text">{$item.title}
                                    <span>{$item.create_time}</span></div>
                            </a>
                            {elseif condition="$i>1 && $i<=7" /}
                            <a href="{:url('Index/detail')}?article_id={$item.article_id}" class="link">
                                <i class="icon icon-ic-dot-grey fl"></i>
                                <span class="fl texts">{$item.title}</span>
                                <span class="fr time">{$item.create_time}</span></a>
                            {else/}{php}$i--;{/php}
                            {/if}
                            {/if}
                            {/volist}
                        </div>
                    </li>
                    <li>
                        <h2>热门专题</h2>
                        <div class="div-item">
                            {volist name = "article" id = "item"}
                            {if $item.type eq 4}
                            {if $i==1}
                            <a href="{:url('Index/detail')}?article_id={$item.article_id}" class="link-topic">
                                <div class="div-img">
                                    <img src="{$item.lis_img}" class="img" alt=""></div>
                                <div class="div-text">{$item.title}
                                    <span>{$item.create_time}</span></div>
                            </a>
                            {elseif condition="$i>1 && $i<=7" /}
                            <a href="{:url('Index/detail')}?article_id={$item.article_id}" class="link">
                                <i class="icon icon-ic-dot-grey fl"></i>
                                <span class="fl texts">{$item.title}</span>
                                <span class="fr time">{$item.create_time}</span></a>
                            {else/}{php}$i--;{/php}
                            {/if}
                            {/if}
                            {/volist}
                        </div>
                    </li>
                    <li>
                        <h2>创业故事</h2>
                        <div class="div-item">
                            {volist name = "article" id = "item"}
                            {if $item.type eq 5}
                            {if $i==1}
                            <a href="{:url('Index/detail')}?article_id={$item.article_id}" class="link-topic">
                                <div class="div-img">
                                    <img src="{$item.lis_img}" class="img" alt=""></div>
                                <div class="div-text">{$item.title}
                                    <span>{$item.create_time}</span></div>
                            </a>
                            {elseif condition="$i>1 && $i<=7" /}
                            <a href="{:url('Index/detail')}?article_id={$item.article_id}" class="link">
                                <i class="icon icon-ic-dot-grey fl"></i>
                                <span class="fl texts">{$item.title}</span>
                                <span class="fr time">{$item.create_time}</span></a>
                            {else/}{php}$i--;{/php}
                            {/if}
                            {/if}
                            {/volist}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 热门资讯结束 -->


<!-- 创业项目推荐开始 -->
<div class="cyxmT Gdv-com">
    <div class="hd">
        <h2 class="fl">创业项目推荐</h2>
        <span class="fr">
      <a href="#" title="品牌餐饮加盟" target="_blank">品牌餐饮加盟</a>
        </span>
    </div>
    <div class="bd">
        <div class="cyxmT-box clearfix">
            <dl>
                <dt>
                    <a href="#" target="_blank" title="餐饮美食">餐饮美食</a>
                    <span class="red">
            <a target="_blank" title="九牛一杯牛排杯" href="#">小吃牛排杯 流行街头</a></span>
                </dt>
                <dd>
                    <a href="#" title="小吃" target="_blank">小吃</a>
                </dd>
                <em class="hot"></em>
            </dl>
            <dl>
                <dt>
                    <a href="#" target="_blank" title="生活服务">生活服务</a>
                    <span class="green">
            <a target="_blank" title="中农共信有机瓜菜工厂" href="#">无土栽培！变废为宝</a></span>
                </dt>
                <dd>
                    <a href="#" title="干洗" target="_blank">干洗</a>
                </dd>
                <em class="hot"></em>
            </dl>
            <dl>
                <dt>
                    <a href="#" target="_blank" title="酒水饮料">酒水饮料</a>
                    <span class="orange">
            <a target="_blank" title="臻好时冻酸奶" href="#">冻酸奶 灵活经营</a></span>
                </dt>
                <dd>
                    <a href="#" title="茶饮" target="_blank">茶饮</a>
                </dd>
                <em class="hot"></em>
            </dl>
            <dl>
                <dt>
                    <a href="#" target="_blank" title="服装鞋包">服装鞋包</a>
                    <span class="green">
            <a target="_blank" title="艾米女装" href="#">品牌的吸引低价的诱惑</a></span>
                </dt>
                <dd>
                    <a href="#" title="女鞋" target="_blank">女鞋</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="#" target="_blank" title="建材装饰">建材装饰</a>
                    <span class="blue">
            <a target="_blank" title="智乐居全屋整装" href="#">百变定制即装即住</a></span>
                </dt>
                <dd>
                    <a href="#" title="装饰装修" target="_blank">装饰装修</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="#" target="_blank" title="美容保养">美容保养</a>
                    <span class="red">
            <a target="_blank" title="嘉柏俪香薰化妆品" href="#">嘉柏俪精油护肤 好用</a></span>
                </dt>
                <dd>
                    <a href="#" title="护肤品" target="_blank">护肤品</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="#" target="_blank" title="母婴用品">母婴用品</a>
                    <span class="red">
            <a target="_blank" title="爱亲母婴生活馆" href="#">线上线下 双渠道发展</a></span>
                </dt>
                <dd>
                    <a href="#" title="母婴生活馆" target="_blank">母婴生活馆</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="#" target="_blank" title="教育网络">教育网络</a>
                    <span class="green">
            <a target="_blank" title="艾宾浩斯智能教育" href="#">智能教育 复制办校</a></span>
                </dt>
                <dd>
                    <a href="#" title="在线教育" target="_blank">在线教育</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="#" target="_blank" title="汽车服务">汽车服务</a>
                    <span class="orange">
            <a target="_blank" title="洗车快手桑拿蒸汽洗车" href="#">双向经营 渠道多样</a></span>
                </dt>
                <dd>
                    <a href="#" title="汽车美容" target="_blank">汽车美容</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="#" target="_blank" title="环保机械">环保机械</a>
                    <span class="orange">
            <a target="_blank" title="未来锂锂电池修复" href="#">智能电池修复整店输出</a></span>
                </dt>
                <dd>
                    <a href="#" title="电池修复" target="_blank">电池修复</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="#" target="_blank" title="礼品饰品">礼品饰品</a>
                    <span class="red">
            <a target="_blank" title="昵美创意手机壳" href="#">手机壳 无需店面</a></span>
                </dt>
                <dd>
                    <a href="#" title="手机壳" target="_blank">手机壳</a>
            </dl>
            <dl>
                <dt>
                    <a href="#" target="_blank" title="家居用品">家居用品</a>
                    <span class="blue">
            <a target="_blank" title="大懒猫懒人用品体验馆" href="#">懒人用品厂家直供</a></span>
                </dt>
                <dd>
                    <a href="#" title="懒人用品" target="_blank">懒人用品</a>

                </dd>
            </dl>
        </div>
        <div class="cyxmT-link">
            <ul>
                <li class="red">
                    <a target="_blank" title="万聪智学教育" href="#">
                        <font color="red">智能教学 家长认可</font></a>
                </li>
                <li>
                    <a target="_blank" title="ge鸡ge鸡泡泡鸡" href="#">有个新宠叫泡泡鸡</a>
                <li class="red">
                    <a target="_blank" title="黑羊社奶茶" href="#">
                        <font color="red">黑羊社天然潮饮！</font></a>
                </li>
            </ul>
        </div>
    </div>
</div>
{/block}
<!-- 创业项目推荐结束 -->

<!-- 广告位分类开始 -->

<!-- 分类结束 -->


<!-- 这是底部开始 -->
