{extend name="public/base"}

<!-- 内容开始 -->
{block name="content"}
<div class="main">
    <div class="addItem-top">
        <h3>修改密码</h3>
    </div>
    <div class="addItem-con">
        <form action="{:url('client/change_pass')}" method="post">
            <div class="con-item">
                <label for="item-input1" class="con-item-l">用户名</label>
                <input type="text" id="item-input1" class="con-item-r" name="name " value="{$info['name']}"
                       readonly="readonly"/>
            </div>
            <div class="con-item">
                <label for="item-input1" class="con-item-l">原密码</label>
                <input type="password" class="con-item-r" name="pass"/>
            </div>
            <div class="con-item">
                <label for="item-input1" class="con-item-l">新密码</label>
                <input type="password" class="con-item-r" name="new_pass"/>
            </div>
            <div class="login-btn">
                <button id="publish" type="button">修改</button>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script>
    $(function () {
        $("#publish").on('click', function (event) {
            $.ajax({
                type: "POST",
                url: "{:url('client/change_pass')}",
                data: $("form").serialize(),
                dataType: 'json',
                success: function (data) {   //返回值状态为1才执行
                    if (data.status == 1) {
                        alert(data.message);
                        window.location.href="{:url('client/logout')}";
                    } else {
                        alert(data.message);
                    }
                }
            })
        })
    })
</script>
{/block}