<!DOCTYPE HTML>
<html>
<head>
    <title>主题管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <link href="__TEMPLATE__/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <link href="__TEMPLATE__/css/style.css" rel='stylesheet' type='text/css'/>
    <link href='__TEMPLATE__/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css'/>
    <script src="__TEMPLATE__/js/jquery-1.11.1.min.js"></script>
    <script src="__TEMPLATE__/js/modernizr.custom.js"></script>
    <script src="__TEMPLATE__/js/Chart.js"></script>
    <script src="__TEMPLATE__/js/metisMenu.min.js"></script>
    <script src="__TEMPLATE__/js/custom.js"></script>
    <link href="__TEMPLATE__/css/custom.css" rel="stylesheet">
    <script src="__TEMPLATE__/js/pie-chart.js" type="text/javascript"></script>
    <link href="__TEMPLATE__/index/index.css" rel='stylesheet' type='text/css'/>
    <script src="__TEMPLATE__/icon/iconfont.js"></script>
</head>
<body class="cbp-spmenu-push">
<!-- 页面开始 -->
<div class="main-content">
    <!--左导航栏-->
    {include file="main/left" /}
    <!--左导航栏-->

    <!-- 头部导航 -->
    {include file="main/head" /}
    <!-- //头部结束 -->
    <!-- 主要内容-->
    <div id="page-wrapper" style="min-height: 893px;">
        <div class="panel-body widget-shadow">
            <div class="form-title"><h4>主题添加</h4></div>
            <div>

                <div class="col-sm-10">
                    <h4 class=""> 分类名</h4>
                    <input type="text" id="name" placeholder="" class="form-control1 theme-name">
                </div>
            </div>
        </div>
        <input type="button" class="btn-primary btn btn-lg add-theme" value="添加">
        <input type="button" class="btn-primary btn btn-lg go-back" value="返回">
    </div>
    <!-- 主要内容结束 -->
</div>


</body>
<script src="__TEMPLATE__/bootstrap/js/bootstrap.js"></script>
<script src="__TEMPLATE__/theme/add.js"></script>
</html>