<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>08商机网</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="__PUB08__/css/zhome.css">
    <link rel="stylesheet" href="__PUB08__/css/info-head-foot.css">
    <link rel="stylesheet" type="text/css" href="__PUB08__/css/header.css">
    <link rel="stylesheet" href="__PUB08__/css/km_new_infodetail.css">
    <script src="__PUB08__/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="__PUB08__/js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="__PUB08__/js/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="__PUB08__/js/imgfix.js"></script>
    <script type="text/javascript" src="__PUB08__/js/global.js"></script>
    <script type="text/javascript" src="__PUB08__/js/index.js"></script>
    <script type="text/javascript" src="__PUB08__/js/zbody-header1.js"></script>
    <script src="__PUB08__/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="__PUB08__/js/zbody-nav1.js"></script>
    <!-- <script type="text/javascript" src="__PUB08__/js/mfjq2015.min.js"></script> -->
</head>
<body>
{include file="public/header"/}
{include file="public/search"}
<!--左侧导航-->
<div class="container clearfix">

    <div class="left-ctn l clearfix">
        <!--左侧导航开始-->
        <div class="nav-ctn">

            <div id='nav' class="bfff">
                <ul class="nav clearfix">
                    <li class="item1">
                        <a href="{:url('index/index')}"><span class="hdsy"></span>回到首页 </a>
                    </li>


                    <li class="active">
                        <a href="{:url('article/newslist',['type'=>1])}"><span class="xwzx"></span>项目资讯 </a>
                    </li>


                    <li class="">
                        <a href="{:url('article/newslist',['type'=>2])}"><span class="rmzt"></span>创业咨询 </a>
                    </li>


                    <li class="">
                        <a href="{:url('article/newslist',['type'=>3])}"><span class="cyzs"></span>新闻咨询 </a>
                    </li>


                    <li class="">
                        <a href="{:url('article/newslist',['type'=>4])}"><span class="cygs"></span>热门咨询 </a>
                    </li>
                    <li class="">
                        <a href="{:url('article/newslist',['type'=>5])}"><span class="cygs"></span>创业故事 </a>
                    </li>

                </ul>
                <!--      <div class="erweima">
                          <img src="__PUB08__/picture/newcode.png">
                          <span>扫码关注有惊喜</span>
                      </div>-->
            </div>
        </div>


        <div class="a-d-pic">

        </div>
        <!--左侧导航结束-->

        <!--列表开始-->
        <div id="tab" class="clearfix">
            <div class="detail-ctn">
                <div class="position">
                    <span>当前位置：</span>
                    <a class='position' href="{:url('index/index')}">首页</a> &gt; <a class='position' href="{:url('article/newslist')}">新闻资讯</a>
                </div>
                <div class="title">{$one_article.title}</div>
                <div class="publish clearfix">
                    <ul class="publish-time l">
                        <li class="l"> 更新时间：<span>
								{$one_article.create_time}
                        </span></li>
                        <li class="l"> {$one_article.author}</li>  <!--作者-->
                        <li class="l"> {$one_article.source}</li>  <!--来源-->
                    </ul>
                </div>
                <div class="artical">
                    <p style="line-height: 1.6em; text-indent: 2em; text-align: justify;"><span
                            style="color: rgb(0, 0, 0); font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 16px;">{$one_article.brief}</span>
                        <!--简介-->
                    </p>
                    <p style="text-align:center;"><img src="__PUB08__/picture/820277_600x600.jpg" suffix="jpg"/></p>
                    <!--图片-->
                    <p style="line-height: 1.6em; text-indent: 2em; text-align: justify;"><span
                            style="color: rgb(0, 0, 0); font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 16px;">{$one_article.content}</span>
                    </p>
                    <p style="text-indent: 2em; line-height: 1.6em;"><span
                            style="font-size: 12px; color: rgb(165, 165, 165);">版权声明：08商机网</span></p>
                    <p><br/></p>
                </div>


            </div>
        </div>
        <!--列表结束-->
    </div>
    {include file="public/consult"}    <!--引入右侧咨询导航-->
</div>
{include file="public/advertise"/}
{include file="public/footer"/}
<!--列表结束-->

<!--广告位结束-->

<!-- 这是底部开始 -->
<!--底部结束-->

