<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{$title}</title>
    <meta name="keywords" content="{$project_info['keywords']}">
    <meta name="description" content="{$project_info['description']}">
    <link rel="stylesheet" type="text/css" href="__PUB08__/css/zhome.css"/>
    <link rel="stylesheet" type="text/css" href="__PUB08__/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="__PUB08__/css/index3.css"/>
    <link rel="stylesheet" type="text/css" href="__PUB08__/css/tt_detial.css"/>
    <link rel="stylesheet" type="text/css" href="__PUB08__/css/message.css"/>
    <link rel="stylesheet" type="text/css" href="__PUB08__/css/library.css"/>
    <script src="__PUB08__/js/jquery-1.11.3.min.js"></script>
    <script src="__PUB08__/js/p.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<!-- 头部开始 -->
{include file="public/header"}   <!--引入顶部网站导航-->
{include file="public/search"}  <!--引入搜索框-->
{include file="public/hurdle"}  <!--引入导航栏-->
<!-- 头部结束 -->

<!-- 顶部横幅广告 -->
<div id="item1" class="clearfix" style="min-width: 1200px;">
    <div class="item1box container">
        <div class="item1boxleft fl">
            <!--<img class="fl" src="__PUB08__/picture/${prefix}${jmproject.logofile}" alt="" />-->
            <div class="text fr">
                <div class="title">{$project_info['name']}</div>
                <p>{$project_info['company_name']}</p>
                <span>￥{$project_info['money']}万</span></div>
        </div>
        <div class="item1boxmiddle fl">
            <a href="#">
                <div class="imgbox on">
                    <div class="icon icon0"></div>
                    <p>项目首页</p>
                    <i></i>
                </div>
            </a>
            <a href="#">
                <div class="imgbox">
                    <div class="icon icon1"></div>
                    <p>项目详情</p>
                    <i></i>
                </div>
            </a>
            <a href="#">
                <div class="imgbox">
                    <div class="icon icon2"></div>
                    <p>项目资讯</p>
                    <i></i>
                </div>
            </a>
        </div>
        <!--引入cdn文件-->
        <div class="item1boxright" id="page">
            <!--非400 start-->
            <script>
                $(".item1boxright").load("{$project_info.cdn}");
            // var xhr = new XMLHttpRequest();
            //
            // xhr.open('GET', '{$project_info.cdn}', true); //访问baidu.com
            //
            // xhr.send();
            </script>
            <!--非400 end-->
            <p>更新时间：2019-06-06</p>
            <!--非400 end-->
        </div>
    </div>
</div>
<div id="item2" class="clearfix">
    <div class="item2box container">
        <div class="boxleft boxleft1">
            <!--引入cdn文件开始-->

            {$project_info.cdn}

            <!--引入cdn文件结束-->
            <div class="text">
                <!--遍历相关文章10条-->
                <a href="#" target="_self">
                    <div class="textlist">
                        <a href="#" target="_self">
                            <div class="list">
                                <i>
                                </i>
                                <p>火锅店如何“长寿”，秘诀在这里!</p>
                                <span>2019-06-12</span></div>
                        </a>
                    </div>
                </a>
                <!--遍历结束-->
            </div>
        </div>
        <div class="boxleft">
            <div class="top">
                <div class="boxlefttop">
                    <div class="lefttitle">当前位置:
                        <a class='position' href="{:url('index/index')}">首页</a>&gt;
                        <a class='position' href='#'>餐饮</a>&gt;
                        <a class='position' href='#'>火锅</a>&gt;
                        <span>朝天门火锅</span></div>

                    <div class="de02-main01 clearfix">
                        <div class="de02-main01-l">
                            <img src="__PUB08__/images/banner_01.jpg" alt=""/>
                        </div>
                        <div class="de02-main01-r">
                            <h3 title="全屋整装">全屋整装</h3>
                            <ul>
                                <li><em>经营模式：</em>{$project_info['pattern']}</li>
                                <li><em>品牌源地：</em>{$project_info['area']}</li>
                                <li><em>适合人群：</em>{$project_info['crowd']}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="de02-main02">
                        <div class="rightBoxTop">
                            <div class="zsbBox">
                                <ul>
                                    <li class="active">加盟优势</li>
                                    <li class="">利润分析</li>
                                    <li class="">市场前景</li>
                                    <li class="">企业介绍</li>
                                </ul>
                                <dl>
                                    <dd style="display: block;">
                                        {$project_info['superiority']}
                                    </dd>
                                    <dd>
                                        {$project_info['analysis']}
                                    </dd>
                                    <dd>
                                        {$project_info['prospect']}
                                    </dd>
                                    <dd>
                                        {$project_info['summary']}
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="top">
                <div class="boxleftbox">
                    <div class="lefttitle">当前位置：
                        <a class='position' href="{:url('index/index')}">首页</a>&gt;
                        <a class='position' href='#'>餐饮</a>&gt;
                        <a class='position' href='#'>火锅</a>&gt;
                        <span>{$project_info['name']}</span></div>
                    <div class="boxleftcentent">
                        <!--遍历相关文章开始-->
                        {volist name="article_info" id="vo"}
                        <div class="contentlist">
                            <a href="{detail/detail,['article_id'=>$vo['article_id']]}">
                                <div class="leftimg">
                                    <img src="{$vo['lis_img']}"/></div>
                                <div class="rightcontent">
                                    <div class="title">{$vo['title']}</div>
                                    <div class="text">
                                        {$vo['content']}
                                    </div>
                                    <div class="textbottom">
                                        <span>来源:{$vo['source']}</span>
                                        <span>作者:{$vo.author}</span>
                                        <span>{$vo.update_time}</span></div>
                                </div>
                            </a>
                        </div>
                        {/volist}
                        <!--遍历相关文章结束-->
                    </div>
                    <div class="nocontentlist">
                        {volist name="article_info" id="vo" length=10 empty="该项目暂无相关资讯"}
                        <div class="listbox">
                            <a href="{:url('detail/detail',['article_id'=>$vo.article_id])}">
                                <img src="{$vo.lis_img}" alt="{$vo.title}"/>
                            </a>
                            <a href="{:url('index/index')}">
                            <p>{$vo.content}</p>
                            </a>
                        </div>
                        {/volist}
                    </div>
                </div>
            </div>
            <input type="hidden" value="743101" id="form_contact_us_ProjectID">
            <!-- 小表单 -->
            <!-- 不显示400 -->
            {include file="public/small_form"}
        </div>
        <div class="boxright">


            <div class="de02-main04">
                <div class="de02-main04-title">
                    <h2>全屋整装</h2>
                </div>
                <ul>
                    <li class="li1 clear"><font class="fl">品牌信息审核</font><span class="span2 fr"><img
                            src="__PUB08__/images/duigou_21.png" alt=""></span><span class="fr span1">9 项</span></li>
                    <li class="li2 clear"><font class="fl">培训支持</font><span class="span2 fr"><img
                            src="__PUB08__/images/duigou_21.png" alt=""></span><span class="fr span1">2 项</span></li>
                    <li class="li3 clear"><font class="fl">经营指导支持</font><span class="span2 fr"><img
                            src="__PUB08__/images/duigou_21.png" alt=""></span><span class="fr span1">5 项</span></li>
                    <li class="li4 clear"><font class="fl">运营督导支持</font><span class="span2 fr"><img
                            src="__PUB08__/images/duigou_21.png" alt=""></span><span class="fr span1">2 项</span></li>
                </ul>
            </div>


            <div class="area-right-top">
                <ul class="renZ_info">
                    <li>
                        <span class="">1280人</span>
                        <em>关注该项目</em></li>
                    <li>
                        <span class="">989人</span>
                        <em>电话沟通过</em></li>
                    <li>
                        <span class="">700家</span>
                        <em>门店总数</em></li>
                </ul>
                <div class="comp_info_as">
                    <div class="comp_info-ig">
                        <img src="__PUB08__/picture/form-left-img.png">
                        <i>我们立即与你沟通</i>
                    </div>
                    <div class="comp_info_text">
                        <input class="area-right-tel1" id="area-right-tel1" maxlength="11" name="tel" value="请输入您的手机号码"
                               onfocus="if(this.value == '请输入您的手机号码') this.value = ''"
                               onblur="if(this.value =='') this.value = '请输入您的手机号码'"
                               onkeyup="this.value=this.value.replace(/\D/g,'')"
                               onafterpaste="this.value=this.value.replace(/\D/g,'')" type="text">
                        <!-- <div class="b-pos-a"></div> --></div>
                    <div class="verification_div" id="verification_div" style="display: none ;">
                        <input class="verification ctrl_code_input" name="verification" type="text" value="请输入验证码"
                               onfocus="if(this.value == '请输入验证码') this.value = ''"
                               onblur="if(this.value =='') this.value = '请输入验证码'">
                        <span class="verification_submit ctrl_code_btn" data-telinput="area-right-tel1">点击获取</span>
                    </div>
                    <a id="area-right-but1" class="Free_phone_btn1">免费电话</a>
                    <p>温馨提示:
                        <br>此次通话将不会产生任何费用, 请放心使用</p></div>
            </div>
            <div class="cainixihuan clearfix">
                <div class="line" style="margin-top: 0;"></div>
                <div class="title">
                    <div class="titleleft">
                        <i>
                        </i>猜你喜欢
                    </div>
                    <div class="titleright">
                        <i>
                        </i>换一批
                    </div>
                </div>
                <!--点击换一批，重新获取数据-->
                <div class="content">
                    <!--遍历开始-->
                    <div class="contentlist">
                        <a href="#"  data-type="cmsad"  target="_self">
                            <img src="__PUB08__/picture/683412.jpg" alt="洁希亚国际洗衣"/>
                            <div class="text">
                                <p>洁希亚国际洗衣</p>
                                <span>￥7-15万</span></div>
                        </a>
                    </div>
                    <!--遍历结束-->
                </div>
            </div>
            <!-- 右侧块 -->
            <div class="hotzixun clearfix">
                <div class="line" style="margin-top: 0;"></div>
                <ul class="title clearfix">
                    <li class="on ml">最新资讯</li>
                </ul>
                <ul class="contentlist">
                    <!--遍历-->
                    {volist name="article_p" id="vo" length="10"}
                    <li>
                        <a href="{:url('detail/detail',['article_id'=>$vo.article_id])}" target="_self"
                           title=" {$vo.title}">
                            {$vo.title}</a>
                    </li>
                    {/volist}
                </ul>
            </div>
            <div class="hotzhuanti clearfix">
                <div class="line"></div>
                <ul class="title clearfix">
                    <li class="on ml">最新专题</li>
                </ul>
                <ul class="contentlist">
                    {volist name="article_n" id="vo" length="10"}
                    <li>
                        <a href="{:url('detail/detail',['article_id'=>$vo.article_id])}" target="_self"
                           title=" {$vo.title}">
                            {$vo.title}</a>
                    </li>
                    {/volist}
                </ul>


            </div>
            <div class="chuangyezhishi clearfix">
                <div class="line"></div>
                <div class="title">
                    <div class="titleleft">
                        <i>
                        </i>创业知识
                    </div>
                    <div class="titleright">
                        <a href="#">更多</a></div>
                </div>
                <ul class="contentlist">
                    <!--遍历10个链接-->
                    {volist name="article_s" id="vo" length="10"}
                    <li>
                        <a href="#" target="_self" title="{vo.title}">{$vo.title}</a>
                        <span>{$vo.update_time}</span>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 大表单 -->
<!-- 不显示400 -->
{include file="public/form"}  <!--引入大留言模块-->
{include file="public/advertise"}   <!--引入广告位-->
<div id="item5">
    <div class="item5box">
        <div class="Poster-Poster">
            <div class="container">
                <div id="mod-detail-disclaimer">
                    <p>
                        <b>免责声明：</b>本站为用户提供免费信息展示，不收取任何费用（包括加盟费），如有冒充本站收费行为请及时报警。
                        <br>
                        <b>友情提醒：</b>投资有风险 加盟需谨慎。为规避投资风险，建议您在投资前务必多咨询，多考察，降低投资风险。
                        <br></p></div>
            </div>
        </div>
    </div>
</div>
<div id="item6">
    <div class="item6box container clearfix">
        <div class="item6boxtitle">
            <i>
            </i>投资费用小贴士
        </div>
        <div class="item6content">
            <div class="textbox" style="margin-top: 0.4rem;">
                <div class="item">加盟费：</div>
                <p>
                    是品牌持有人将企业品牌的无形资产，如知识产权（包括发明、专利、商标、版权）、组织管理资产、市场资产和人力资产等以合同的形式授予加盟商使用，加盟商按合同规定，在统一的经营模式下从事业务活动，并向品牌持有人支付一定的费用。</p>
            </div>
            <div class="textbox">
                <div class="item">保证金：</div>
                <p>按照相关规定向技术品牌售方提供的保证资金。</p>
                <span>加盟费和保证金的本质区别是，保证金是约定到期可以还给出资方，而加盟费是没法偿还的。一旦加盟，并交了加盟费，费用就不再属于出资方。</span></div>
            <div class="textbox">
                <div class="item">投资金额：</div>
                <p>投资金额指开店所需要的所有资金项。</p>
                <span>投资金额与加盟费的区别是，投资金额包括加盟费，加盟费只是投资总额中的一部分。</span></div>
            <div class="textbox">
                <div class="item">品牌使用费：</div>
                <p>品牌使用费也叫商标使用费，指专用商标、商号、品牌等无形资产的授权使用费，不一定加盟或者经销商家的商品，但是可以用商家的品牌进行宣传。</p>
            </div>
            <div class="textbox">
                <div class="item">加盟权利金：</div>
                <p>加盟权益金指的是加盟店使用总部的商标，以及享用商誉所需支付的费用，这是一种持续性的收费，只要加盟店持续使用总部的商标，就必须定期付费。</p>
            </div>
            <div class="textbox">
                <div class="item">管理费：</div>
                <p>加盟公司对加盟商的一个统一服务和各项支持的费用。</p>
            </div>
            <img class="bgimg" src="__PUB08__/picture/bg-jiaosanjiao.png"/></div>
    </div>
</div>


<!-- 这是底部开始 -->
<div id="item7" style="background: #f5f7f9">
    <div class="item7box container">
        <div class="item7boxleft">
            <img src="__PUB08__/picture/logo-bottom2.png">
        </div>
        <div class="item7boxmid">
            <span style="float:left;">招商热线： </span><img style=" display:block;float:left;margin:5px 0 0px -5px"
                                                        src="__PUB08__/picture/tellbottom-1.png">
            <s style="height: 0;display: block;clear: both;"></s>
            <p>最新商机，一手掌握，微信扫码或关注公众号：kmway6</p>
            <!--400 end-->
        </div>
        <div class="item7boxright">
            <!-- <div class="imgbox">
                <img src="__PUB08__/picture/newcode.png">
                <div class="text">立即关注</div>
            </div> -->
        </div>
    </div>
</div>

<div class="page-footer lxbackroundnone" style="background: #f5f7f9">
    <div class="page-inner">

        <div class="div-copyright">
            <span class="text" style="display: block; padding-bottom: 10px;">创业有风险 投资需谨慎 成都氪星网络科技有限公司 成都高新区世纪城南路599号天府软件园D区6栋505号</span>
            <span class="text"><img src="__PUB08__/picture/3-1.png"/></span>
        </div>
    </div>
</div>


<div id="float">
    <!--<div class="floatlist active">
    <i class="icon3"></i>关注微信
    </div>-->
    <!--<div class="floatlist floatlist1">
    <i class="icon4"></i></div>-->
    <!--<div class="weixinimg">
    <img src="__PUB08__/picture/img-weixin.png" /></div>-->
</div>
<!-- 底部电话留言 -->
<div id="floatbottom">
    <div class="imgbox">
        <div class="pos">
            <img src="__PUB08__/picture/button-out.png"/>
            <img src="__PUB08__/picture/icon-zhankai.png"/></div>
    </div>
    <div class="floatbox container">
        <img src="__PUB08__/picture/bg-03.png"/>
        <div class="floatbottom_msg">
            <input type="text" class="bottomtel fl" id="bottomTel" placeholder="请输入您的手机号码，立即免费电话"/>
            <div class="verification_bottom fl" id="verification_bottom" style="display: none;">
                <input class="verification" name="verification" type="text" value="请输入验证码"
                       onfocus="if(this.value == '请输入验证码') this.value = ''"
                       onblur="if(this.value =='') this.value = '请输入验证码'">
                <span class="verification_bottom_submit ctrl_code_btn" data-telinput="bottomTel">点击获取</span></div>
            <div class="bottombtnleft fl">
                <i>
                </i>免费电话
            </div>
            <!--<div class="bottombtnright">
            <i></i>立即咨询
            </div>-->
        </div>
    </div>
</div>
</body>
</html>
<script src="__PUB08__/js/common.js" type="text/javascript" charset="utf-8"></script>


<script src="__PUB08__/js/tt_detial_new.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUB08__/js/submit.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="__PUB08__/js/tracks.js"></script>
<script type="text/javascript">
    $(".content2_text1 a").click(function () {
        $("body,html").stop().animate({
                scrollTop: $("#item6").offset().top
            },
            500)
    })

    $(function () {
        $("#item2 .item2box .boxleft .top").hide();
    })
</script>
<script src='__PUB08__/js/chat.js' type='text/javascript' charset='utf-8'></script>
<!--留言表单js-->
<script type="text/javascript">$(function () {
    initProvince("msgProvince");
    $("#ProjectID").val($("#form_contact_us_ProjectID").val());
    $("#PageURL").val(window.location.href);
    $("#PageURLTitle").val(document.title);
});

function showSmall(value) {
    onProvinceChange(value, 'msgCity', 'msgXian', resetAddress);
}

function showXian(value) {
    onCityChange(value, 'msgXian', resetAddress);
}

function resetAddress() {
    var p = document.getElementById("msgProvince");
    var c = document.getElementById("msgCity");
    var d = document.getElementById("msgXian");
    var text = p.options[p.selectedIndex].text;
    text += $(c).val() == 0 ? '' : c.options[c.selectedIndex].text;
    text += $(d).val() == 0 ? '' : d.options[d.selectedIndex].text;
    $("#Address").val(text);
}

$.fn.serializeObject = function () {
    var o = {};
    var a = this.serializeArray();
    $.each(a,
        function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
    return o;
};

function quickmsgsubmit3() {
    //判断是否选中
    /* if($('#msgform #checkbox').prop('checked') === false) {
                 alert("请选择我同意将我的联系方式推荐给商家！");
                 return false;
            } */
    //是否含有中文（也包含日文和韩文）
    var reName = /^[a-zA-Z\u4e00-\u9fa5\uF900-\uFA2D ]{1,20}$/;
    if (reName.test($("#Name").val()) === false) {
        alert("请输入正确的姓名！");
        $("#Name").focus().select();
        return false;
    }
    //支持手机号码，3-4位区号，7-8位直播号码，1－4位分机号
    var reTel = /^1[3|4|5|7|8|9]\d{9}$/;
    if (reTel.test($("#Tel").val()) === false) {
        alert("请输入正确的电话号码！");
        $("#Tel").focus().select();
        return false;
    }

    /*检查验证码*/
    if ($('#Code_big').val() === '') {

        alert('请输入验证码!');
        $("#big_yzmbox").show();
        return false;
    }
    /*检查验证码*/
    $("#imgBtnUp").val("正在提交...");
    var data = $("#msgform").serializeObject();
    var im = document.getElementById("InvestMoney");
    data.InvestMoney = im.options[im.selectedIndex].text;
    data.Gender = data.radiobutton == 0 ? '男' : '女';
    data.NoCheck = data.yixiang == 1 ? '1' : '2';
    var queryString = "";
    //                for(var key in data) {
    //                     if(queryString.length > 0) {
    //                          queryString += "&";
    //                     }
    //                     queryString = queryString + key + "=" + encodeURIComponent(data[key]);
    //                }
    $.ajax({
        type: "post",
        url: prefix + "cms/jm/messageinsert",
        dataType: "json",
        //数据类型为jsonp
        //                        async: false,
        //                        url: prefix + "jm/msgsubmit?" + queryString + "&MessageSource=XQ005-001",
        //                        dataType: "jsonp", //数据类型为jsonp
        //                        jsonp: "jsonpCallback", //服务端用于接收callback调用的function名的参数
        //                        jsonpCallback: "jsonpCallback",
        data: data,
        success: function (data) {
            if (data.msg == '验证码不能为空且必须是数字') {
                $("#big_yzmbox").show();
            }
            ;
            alert(data.msg);
            $("#imgBtnUp").val("提交留言");
        },
        error: function () {
            alert('提交失败');
        }
    });
    $.ajax({
        url: "/guestbook.html",
        type: "GET",
        data: "action=post&" + $("#guestbookfield").val(),
        dataType: "text"
    });
}

$(function () {
    var ProjectID = $("#form_contact_us_ProjectID").val();
    var arr = "540567,640944,540660,640883,540544,641525,544974,540573,540488,540463".split(",");
    if ($.inArray(ProjectID, arr) > -1) { //禁用以上项目的留言功能
        $("#msgform").find("input,button,textarea,select").attr("disabled", true);
    }
    var Catalog = $("#form400").val();
    if (Catalog == "Y") {
        $(".nav-400, .form-400").removeClass("dn")
    }
    //提交电话号码
    $("#Free_phone_btnleft").click(function () {
        var reTel = /^1[3|4|5|7|8|9]\d{9}$/;
        if (reTel.test($("#Free_phone_text").val()) === false) {
            alert("请输入正确的电话号码！");
            $("#Free_phone_text").focus().select();
            return false;
        }

        /*检查验证码*/
        if ($('#Free_code__input').val() === '') {
            $("#Free_code__wrap_left").show();
            alert('请输入验证码');
            return;
        }
        /*检查验证码*/
        var mobilephone = $("#Free_phone_text").val();
        $.ajax({
            //                           type: "get",
            type: "post",
            //                           async: false,
            //                           url: prefix+"jm/msgsubmit?ProjectID=" + ProjectID + "&URL=" + window.location
            //                                .href + "&URLTitle=" + document.title + "&Tel=" + mobilephone +
            //                                "&MessageSource=XQ005-002"+ "&Code=" + $('#Free_code__input').val(),
            //
            url: prefix + "cms/jm/messageinsert",
            data: {
                ProjectID: ProjectID,
                URL: window.location.href,
                URLTitle: document.title,
                Tel: mobilephone,
                MessageSource: 'XQ005-002',
                Code: $('#Free_code__input').val()
            },
            dataType: "json",
            //数据类型为jsonp
            //                           jsonp: "jsonpCallback", //服务端用于接收callback调用的function名的参数
            //                           jsonpCallback: "jsonpCallback",
            success: function (data) {
                if (data.msg == '验证码不能为空且必须是数字') {
                    $("#Free_code__wrap_left").show();
                }
                alert(data.msg);

            },
            error: function () {
                alert('fail1');
            }
        });
    });

});

//客户留言统计
function custFeedback() {
    var IsPC = function () {
        var userAgentInfo = navigator.userAgent;
        var Agents = new Array("Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod");
        var flag = true;
        for (var v = 0; v < Agents.length; v++) {
            if (userAgentInfo.indexOf(Agents[v]) > 0) {
                flag = false;
                break;
            }
        }
        return flag;
    };
    var isPc = IsPC() ? "PC" : "H5";
    var getCata = function () {
        var reg = new RegExp("https?://.+\.com/([^/]+)/([^/]+)/([^/]+)(/[^/]+)*\.shtml", "i");
        var reg2 = new RegExp("https?://.+\.com/([^/]+)/([^/]+)/", "i");
        var r = window.location.href.match(reg);
        if (r != null) {
            var catalog = RegExp.$1 + "_" + RegExp.$2;
            return catalog;
        } else {
            r = window.location.href.match(reg2);
            if (r != null) {
                return RegExp.$1 + "_" + RegExp.$2;
            }
        }
        return "";
    };
    var catalog = getCata();
    $.ajax({
        type: "get",
        async: true,
        url: "/api/stat/Cust/Feedback?" + "&source=" + isPc + "&catalog=" + catalog,
        success: function () {
            // alert("cust-success");
        },
        error: function () {
            // alert("cust-fail");
        }
    });

}
</script>
<script>
</script>