<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="file" id="file" value="上传"><input type="button" class="confirm" value="确定">
</body>
<script src="__TEMPLATE__/js/jquery-1.11.1.min.js"></script>
<script>

    //     $(".confirm").click(function () {
    //         var fd = new FormData();          //创建表单
    //         var file_obj = document.getElementById('file').files[0];    //得到文件
    //         // fd.append("old_user_name",$("#update-name").attr("placeholder"));
    //         // fd.append("user_name", user_name);
    //         // fd.append("email", email);
    //         // fd.append("kind", kind);
    //         // fd.append("resume", resume);
    // //判断是否传文件
    //         fd.append('file', file_obj);//向fd里面添加一个文件
    //         fd.append('domain', 'cdddcc');
    //         fd.append('website_id', '3');
    //
    //
    //         fd.append('file', file_obj);
    //         $.ajax({
    //             url: "/admin/website/update",
    //             type: 'POST',
    //             data: fd,
    //             processData: false,
    //             contentType: false,
    //             mimeType: "multipart/form-data",
    //             dataType: "json",
    //             success: function (data) {
    //                 var data = jQuery.parseJSON(data);
    //                 alert(data.data);
    //             }
    //         })
    //     });


    $(".confirm").click(function () {
        $.ajax({
            url: "/admin/project/add",
            type: 'post',
            data: {
               name:1
            },
            dataType: 'json',
            success: function (data) {

                var data = jQuery.parseJSON(data);
                console.log(data);
                alert(data.data);
            }
        })
    });
</script>
</html>