<!-- 分类开始 -->
<div id="div-zhome-rmxm" class="div-zhome-block div-zhome-rmxm">
    <div class="div-inner">
        <div id="item4">
            <div class="item4box container">
                <div class="itemsmallbox">
                    <!--循环出父类名称-->
                    <div class="item4boxtitle">
                        <ul>
                            {volist name = "clas" id = "item"}
                            {if $item.f_class_id eq 0}
                            <li class="on">
                                <a href="/slist/{$item.class_id}">{$item.name}</a>
                                <i>
                                </i>
                            </li>
                            {/if}
                            {/volist}
                        </ul>
                        <div class="selectmore">
                            <i>
                            </i>
                            <p>
                                <a href="/slist" target="_self">查看更多</a></p>
                        </div>
                    </div>
                    <!--循环出父类名称结束-->
                    <div class="item4boxcontent">
                        <!--广告父类循环-->
                        {volist name="clas" id="vo" offset="0" length="1"}
                        <div class="contentlist" style="display: block;">
                            <ul>
                                <!--内容子广告循环-->
                                <!--父类项目-->
                                {volist name="ad_position" id="pro" length="24"}
                                {if condition="$pro['sort'] eq $vo['sort'] && $vo['f_class_id'] eq 0"}
                                <li class="row1 col1">
                                    <a href="" target="_self">
                                        <img src="{$item['image']}"
                                             alt="{$item['image']}"></a>
                                    <span>{$pro['name']}</span>
                                </li>
                                {/if}
                                {/volist}
                                <!--内容子广告结束-->
                            </ul>
                        </div>
                        {/volist}
                        {volist name="clas" id="vo" offset="1" }
                        <div class="contentlist" style="display: none;">
                            <ul>
                                <!--内容子广告循环-->
                                <!--父类项目-->
                                {volist name="ad_position" id="pro" length="24" }
                                {if condition="$pro['sort'] eq $vo['sort'] && $vo['f_class_id'] eq 0"}
                                <li class="row1 col1">
                                    <a href="/project/{$pro['project_id']}" target="_self">
                                        <img src="{$pro['image']}"
                                             alt="{$pro['name']}"></a>
                                    <span>{$pro['name']}</span>
                                </li>
                                {/if}
                                {/volist}
                                <!--内容子广告结束-->
                            </ul>
                        </div>
                        {/volist}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 分类结束 -->