<div id="item7" style="background: #f5f7f9">
    <div class="item7box container">
        <div class="item7boxleft">
            <img src="__PUB08__/picture/logo-bottom2.png">
        </div>
        <div class="item7boxmid">
            <span style="float:left;">招商热线： </span><img style=" display:block;float:left;margin:5px 0 0px -5px"
                                                        src="__PUB08__/picture/tellbottom-1.png">
            <s style="height: 0;display: block;clear: both;"></s>
            <p>最新商机，一手掌握，微信扫码或关注公众号：kmway6</p>
            <!--400 end-->
        </div>
        <div class="item7boxright">
            <!-- <div class="imgbox">
                <img src="__PUB08__/picture/newcode.png">
                <div class="text">立即关注</div>
            </div> -->
        </div>
    </div>
</div>

<div class="page-footer lxbackroundnone" style="background: #f5f7f9">
    <div class="page-inner">

        <div class="div-copyright">
            <span class="text" style="display: block; padding-bottom: 10px;">创业有风险 投资需谨慎 成都氪星网络科技有限公司 成都高新区世纪城南路599号天府软件园D区6栋505号</span>
            <span class="text"><img src="__PUB08__/picture/3-1.png"/></span>
        </div>
    </div>
</div>
</body>
</html>