<div class="back" style="background-color: #fff; min-width: 1200px;">
    <div class="container clearfix lxmargtopnone">
        <a class="logo-lib fl" href="index.html">
            <img src="__PUB08__/picture/logo_top3.png" alt="08商机网"></a>
        <div id="titleselect">
            <div class="inputbox">
                <div class="selectdropdown">
                    <p>行业选择</p>
                    <i class="icon1"></i>
                    <i class="icon2"></i>
                </div>
                <div class="selectboxdown1">
                    <input type="hidden" name="CatalogInnerCode" id="searchCatalogInnerCode" value=""/>
                    <ul>
                        {volist name="clas" id="vo"}
                        <li data-id="{$vo.class_id}">{$vo.name}</li>
                        {/volist}
                    </ul>
                </div>
                <div class="selectboxdown2">
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1026}
                    <div class="selectlist clearfix">
                        <a href="{:url('Index/project')}?project_id={$item.project_id}" target="_blank" data-id="8724"
                           data-type="cmsad">
                            <p>{$item.name}</p>
                            <span>{$item.attention}</span></a>
                    </div>
                    {/if}
                    {/volist}

                </div>
                <input type="text" name="selectinput" id="selectinput" class="selectinput" value=""
                       placeholder="请输入项目名称"/>
                <img src="__PUB08__/picture/icon-sousuo26x26.png" alt="" class="btn-submit" id="search"/>
                <s style="height: 0;display: block;clear: both;"></s>
                <div class="selecttext">
                    <span class="text">投资金额：</span>
                    <a href="javascript:;" data-money='' class="s_money">不限</a></li>
                    <a href="javascript:;" tpl-txt="{max:2}" data-money='1' class="s_money">1万元以下</a>
                    <a href="javascript:;" tpl-txt="{max:2}" data-money='2' class="s_money">1~10万元</a>
                    <a href="javascript:;" tpl-txt="{max:2}" data-money='3' class="s_money">10~20万元</a>
                    <a href="javascript:;" tpl-txt="{max:2}" data-money='4' class="s_money">20~50万元</a>
                    <a href="javascript:;" tpl-txt="{max:2}" data-money='5' class="s_money">50~100万元</a>
                </div>
                <div class="titleselectbox"></div>
            </div>
        </div>
        <ul class="header_right fl">
            <li class="header_right_li fl">
                <a data-pointkey="XQ001-004" href="{:url('slist/slist')}" target="_self" class="lookfor">
                    <i>
                        <img src="__PUB08__/picture/project library.png" alt=""></i>
                    <span>项目库</span></a>
            </li>
            <li class="fl">
                <a data-pointkey="XQ001-005" href="{:url('article/newslist')}" target="_self" class="ranking">
                    <i>
                        <img src="__PUB08__/picture/consultation.png" alt=""></i>
                    <span>资讯</span></a>
            </li>
        </ul>
    </div>
</div>
<script>
    $(".s_money").on('click', function () {

        s_money = $(this).attr('data-money');
        window.location.href = "/front/slist/slist/money/" + s_money;
    });

    $("#search").on('click', function () {

        clas = $("#searchCatalogInnerCode").val();
        pro_name = $("#selectinput").val();
        if (pro_name == "") {
            alert('请输入要查询的项目名');
            return;
        }
         if (clas ==""){
             window.location.href = "/front/slist/slist/pro_name/"+pro_name;
         }else {
             window.location.href = "/front/slist/slist/class_id/" + clas+"/pro_name/"+pro_name;
         }

    })


</script>