.tbody-font-size {
    font-size: small;
}

.panel-info.widget-shadow {
    padding: 0.5em 1em;
}

.project-btn {
    border-color: grey;
    border-width: thin;
    border-style: solid;
}

.search-content {
    display: inline;
    width: 200px;
    border-color: grey;
}

.add-page {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: inherit;
}

.list-page {
    /*filter: blur(1px);*/
}

.signup-page input[type="text"] {
    background: none;
    padding: 14px 15px 14px 17px;
}

.form-set {
    display: inline-block;
    float: left;
}

.input-left {
    width: 54%;
    float: left;
}

.input-right {
    float: left;
    width: 45%;
}

.font-left {
    display: inline-block;
    float: left
}

.text-area {
    height: 78px;
    margin-top: 15px;
}

.add-left {
    height: 735px;
    margin-left: 0;
    width: 50%;
    float: left;
}

.add-right {
    height: 735px;
    width: 50%;
    float: right;
}

.submit-a {
    width: 111px;
    margin-top: 5px;
    /*margin-left: 137px;*/
}

.submit-b {
    width: 111px;
    margin-left: 91px;
    margin-top: 5px;
}

.left-first {
    margin-top: -15px;
}

.line {
    margin-left: 5px;
    position: absolute;
    margin-top: 8px;
}

#client_name {
    margin-left: 90px;
    margin-top: -46px;
}

.content-page {
    position: absolute;
    margin-left: -15px ;
    width: 100%;
    height: 100%;
    overflow-y: inherit;
}

.d-submit-a {
    width: 111px;
    margin-top: 5px;
    /*margin-left: 137px;*/
}

.d-submit-b {
    width: 111px;
    margin-left: 91px;
    margin-top: 5px;
}

#binding-btn {
    float: right;
    margin-top: 9px;
}