.tbody-font-size {
    font-size: small;
}

.panel-info.widget-shadow {
    padding: 0.5em 1em;
}

.project-btn {
    border-color: grey;
    border-width: thin;
    border-style: solid;
}

.search-content {
    display: inline;
    width: 200px;
    border-color: grey;
}

.add-page {
    position: absolute;
    z-index: 1000000;
    margin-top: -687px;
    margin-left: -15px;
    width: 87%;
    height: 100%;
}

.list-page {
    filter: blur(1px);
}

.signup-page input[type="text"] {
    background: none;
    padding: 14px 15px 14px 17px;
}

.form-set {
    display: inline-block;
    float: left;
}