<!-- 左导航开始 -->
<div class="left-nav">
    <h1><img src="__STATIC__/customer_public/images/logo.png" alt=""></h1>
    <ul class="left-nav-ul">
        <li class="left-nav-li1 on"><a href="{:url('Index/index')}">首页</a></li>
        <li class="left-nav-li2"><a href="{:url('Message/see_msg')}">查看留言</a></li>
        <li class="left-nav-li3"><a href="{:url('Article/release_article')}">发表文章</a></li>
        <li class="left-nav-li3"><a href="{:url('Article/show_self_article')}">查看文章</a></li>
    </ul>
</div>
<!-- 左导航结束 -->