<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>08商机网</title>
    <link rel="stylesheet" href="__PUB08__/css/list-common.css"/>
    <link rel="stylesheet" href="__PUB08__/css/list.css"/>
    <link rel="stylesheet" type="text/css" href="__PUB08__/css/index3.css"/>
    <link rel="stylesheet" type="text/css" href="__PUB08__/css/zhome.css">
    <link rel="stylesheet" type="text/css" href="__PUB08__/css/header.css">

    <script src="__PUB08__/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="__PUB08__/js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="__PUB08__/js/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="__PUB08__/js/imgfix.js"></script>
    <script type="text/javascript" src="__PUB08__/js/index.js"></script>
    <script type="text/javascript" src="__PUB08__/js/zbody-header1.js"></script>
    <script type="text/javascript" src="__PUB08__/js/zbody-nav1.js"></script>
    <script src="__PUB08__/js/common.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
{include file="public/header"}
{include file="public/search"}
{include file="public/hurdle"}
<!-- 头部结束 -->


<div class="banxin">


    <!--分类选项开始-->
    <div class="sort">
        <div class="sort_item">
            <div class="sort_head">行业分类</div>
            <ul class="sort_ul01">
                <li><a href="javascript:;">不限</a></li>
                <li><a href="javascript:;" tpl-txt="{max:4}">餐饮</a></li>
                <li><a href="javascript:;" tpl-txt="{max:4}">环保材料</a></li>
                <li><a href="javascript:;" tpl-txt="{max:4}">节能设备</a></li>
                <li><a href="javascript:;" tpl-txt="{max:4}">专利产品</a></li>
                <li><a href="javascript:;" tpl-txt="{max:4}">产品代理</a></li>
                <li><a href="javascript:;" tpl-txt="{max:4}">汽车养护</a></li>
                <li><a href="javascript:;" tpl-txt="{max:4}">环保材料</a></li>
                <li><a href="javascript:;" tpl-txt="{max:4}">节能设备</a></li>
                <li><a href="javascript:;" tpl-txt="{max:4}">专利产品</a></li>
                <li><a href="javascript:;" tpl-txt="{max:4}">产品代理</a></li>
                <li><a href="javascript:;" tpl-txt="{max:4}">汽车养护</a></li>
                <li><a href="javascript:;" tpl-txt="{max:4}">汽车养护</a></li>
                <li><a href="javascript:;" tpl-txt="{max:4}">汽车养护</a></li>
                <li><a href="javascript:;" tpl-txt="{max:4}">汽车养护</a></li>
            </ul>
            <div class="sort_more">
                更多
            </div>
        </div>
        <div class="sort_item">
            <div class="sort_head">二级分类</div>
            <ul>
                <li><a href="javascript:;">不限</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">火锅</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">上海</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">广州</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">武汉</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">北京</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">北京</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">北京</a></li>
            </ul>
            <div class="sort_more">
                更多
            </div>
        </div>
        <div class="sort_item">
            <div class="sort_head">投资金额</div>
            <ul>
                <li><a href="javascript:;">不限</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">1万元以下</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">1~10万元</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">10~20万元</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">20~50万元</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">50~100万元</a></li>
            </ul>
            <div class="sort_more">
                更多
            </div>
        </div>
        <div class="sort_item">
            <div class="sort_head">加盟区域</div>
            <ul>
                <li><a href="javascript:;">不限</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">北京</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">上海</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">广州</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">武汉</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">北京</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">北京</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">北京</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">北京</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">上海</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">广州</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">武汉</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">北京</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">北京</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">北京</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">北京</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">上海</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">广州</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">武汉</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">北京</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">北京</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}">北京</a></li>
            </ul>
            <div class="sort_more">
                更多
            </div>
        </div>
    </div>
    <!--分类选项结束-->

    <!--内页主题开始-->
    <div class="crumb">

        <a href="#">首页</a>
        <span>></span>
        <a href="#">首页</a>
        <span>></span>
        <a href="#">首页</a>
    </div>
    <!--内页主题结束-->

    <!--内页项目列表开始-->
    <div class="content_list">
        <ul>

    <!--循环开始-->
            {volist name="ad_position" id="vo"}
            <li>
                <img src="{vo.image}"/>
                <div class="cont_t"><a href="#">{$vo.name}</a><img src="__PUB08__/images/cont_b_01.png"/></div>
                <div class="cont_c">
                    <p>品牌行业：环保机械</p>
                    <p>所属地区：山东省</p>
                    <p class="cont_cm">热门关注：<img src="__PUB08__/images/cont_b_02.png"/></p>
                    <p class="cont_cm">关注量:{$vo.attention}</p>
                </div>
                <div class="cont_b">
                    <a href="../project/project.html">
                        <div class="cont_b_l left">查看详情</div>
                    </a>
                    <a href="#">
                        <div class="cont_b_r right">立即咨询</div>
                    </a>
                </div>
            </li>
            <!--循环结束-->
{/volist}


        </ul>
        <div style="clear:both"></div>
    </div>
    <!--内页项目列表结束-->

    <!--留言板-->
    <div class="page">
        <a href="####">首页</a>
        <a href="####">上一页</a>
        <a href="####">1</a>
        <a href="####">2</a>
        <a href="####">3</a>
        <a href="####">4</a>
        <a href="####">下一页</a>
        <a href="####">尾页</a>
    </div>

    <!--猜你喜欢开始-->
    <div class="tail_t">
        <img src="__PUB08__/images/tail_01.png"/>
        <h3>猜你喜欢</h3>
        <a href="#">更多推荐项目，点击查看>></a>
    </div>


    <div class="tail_b">
        <ul>
            <li><a href="#" tpl-project=""><img src="__PUB08__/images/gmd.jpg"/></a></li>

        </ul>
        <div style="clear:both"></div>
    </div>


    <!--猜你喜欢结束-->
</div>

<div class="clear"></div>

<!-- 这是底部开始 -->
{include file="public/footer"}