<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>08商机网</title>
    <title>{$title['title'] |default=$empty['title']}</title>
    <meta name="keywords" content="{$title['keywords'] |default=$empty['keywords']}">
    <meta name="description" content="{$title['description'] |default=$empty['description']}">
    <link href="__TEMPLATE__/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="__PUB08__/css/list-common.css"/>
    <link rel="stylesheet" href="__PUB08__/css/list.css"/>
    <link rel="stylesheet" type="text/css" href="__PUB08__/css/zhome.css">
    <link rel="stylesheet" type="text/css" href="__PUB08__/css/header.css">
    <link rel="stylesheet" type="text/css" href="__PUB08__/css/jquery-ui.min.css">
    <script src="__PUB08__/js/jquery-1.11.3.min.js"></script>
    <script src="__PUB08__/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="__PUB08__/css/style.css"/>
    <script type="text/javascript" src="__PUB08__/js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="__PUB08__/js/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="__PUB08__/js/imgfix.js"></script>
    <script type="text/javascript" src="__PUB08__/js/index.js"></script>
    <script type="text/javascript" src="__PUB08__/js/zbody-header1.js"></script>
    <script type="text/javascript" src="__PUB08__/js/zbody-nav1.js"></script>
    <script src="__PUB08__/js/common.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
{include file="public/header"}
{include file="public/search"}
{include file="public/hurdle"}
<!-- 头部结束 -->


<div class="banxin">


    <!--分类选项开始-->
    <div class="sort">
        <div class="sort_item">
            <div class="sort_head">行业分类</div>
            <ul class="sort_ul01">

                {if $default_class.f_class_id neq null}
                <li><a href="javascript:;" class="f-class" data-f_class="">不限</a></li>
                {else /}
                <li class="on"><a href="javascript:;" class="f-class" data-f_class="">不限</a></li>
                {/if}


                {volist name="clas" id="vo"}
                {if $default_class.f_class_id eq $vo.class_id}
                <li class="on"><a href="javascript:;" data-f_class="{$vo.class_id}" tpl-txt="{max:4}"
                                  class="f-class">{$vo.name}</a></li>
                {else /}
                <li><a href="javascript:;" data-f_class="{$vo.class_id}" tpl-txt="{max:4}"
                       class="f-class">{$vo.name}</a></li>
                {/if}
                {/volist}
            </ul>
            <div class="sort_more">
                更多
            </div>
        </div>
        <div class="sort_item">
            <div class="sort_head">二级分类</div>
            <ul class="sort_ul01">

                {if $default_class.class_id neq null}
                <li><a href="javascript:;" class="son-class" data-s_class="">不限</a></li>
                {else /}
                <li class="on"><a href="javascript:;" class="son-class" data-s_class="">不限</a></li>
                {/if}

                {volist name="clas" id="vo" $key="sort"}
                {if $vo.class_id == $default_class.f_class_id}
                {volist name="vo['son']" id="item"}
                <li><a href="javascript:;" data-s_class="{$item.class_id}" tpl-txt="{max:2}" class="son-class">{$item.name}</a>
                </li>
                {/volist}
                {/if}
                {/volist}
            </ul>
            <div class="sort_more">
                更多
            </div>
        </div>
        <div class="sort_item">
            <div class="sort_head">投资金额</div>
            <ul>
                <li><a href="javascript:;" data-money='' class="money">不限</a></li>

                <li><a href="javascript:;" tpl-txt="{max:2}" data-money='1' class="money">1万元以下</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}" data-money='2' class="money">1~10万元</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}" data-money='3' class="money">10~20万元</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}" data-money='4' class="money">20~50万元</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}" data-money='5' class="money">50~100万元</a></li>
            </ul>
            <div class="sort_more">
                更多
            </div>
        </div>
        <div class="sort_item">
            <div class="sort_head">加盟区域</div>
            <ul>

                <li><a href="javascript:;" data-area="" class="area">不限</a></li>

                <li><a href="javascript:;" tpl-txt="{max:2}" data-area="1010000000" class="area">北京</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}" data-area="1090000000" class="area">上海</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}" data-area="1190000000" class="area">广东</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}" data-area="1060000000" class="area">辽宁</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}" data-area="1110000000" class="area">浙江</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}" data-area="1030000000" class="area">河北</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}" data-area="1040000000" class="area">山西</a></li>
                <li><a href="javascript:;" tpl-txt="{max:2}" data-area="1070000000" class="area">吉林</a></li>
            </ul>
            <div class="sort_more">
                更多
            </div>
        </div>
    </div>
    <!--分类选项结束-->

    <!--内页主题开始-->
    <div class="crumb">
        <a href="http://youhua.cn/front">首页</a>
        {if $default_class.f_class_id neq null}
        <span>></span>
        <a href="#" class="f-class" data-f_class="{$default_class.f_class_id}">{$default_class.f_class_name}</a>
        {/if}
        {if $default_class.class_id neq null}
        <span>></span>
        <a href="#" class="son-class" data-s_class="{$default_class.class_id}">{$default_class.class_name}</a>
        {/if}
    </div>
    <!--内页主题结束-->

    <!--内页项目列表开始-->
    <div class="content_list">
        <ul>

            <!--循环开始-->
            {volist name="ad_position" id="vo"}
            <li>
                <img src="{vo.image}"/>
                <div class="cont_t"><a href="#">{$vo.name}</a><img src="__PUB08__/images/cont_b_01.png"/></div>
                <div class="cont_c">
                    <p>品牌行业：{$vo.class_name}</p>
                    <p>所属地区：{$vo.area}</p>
                    <p class="cont_cm">热门关注：<img src="__PUB08__/images/cont_b_02.png"/></p>
                    <p class="cont_cm">关注量:{$vo.attention}</p>
                </div>
                <div class="cont_b">
                    <a href="/project/{$vo.project_id}">
                        <div class="cont_b_l left">查看详情</div>
                    </a>
                    <a href="/project/{$vo.project_id}#message">
                        <div class="cont_b_r right">立即咨询</div>
                    </a>
                </div>
            </li>
            <!--循环结束-->
            {/volist}
        </ul>
        <div style="clear:both"></div>
    </div>
    <!--内页项目列表结束-->

    <!--分页-->
    <div align="center">
        {$ad_position->render()}
    </div>

    <!--猜你喜欢开始-->
    <div class="tail_t">
        <img src="__PUB08__/images/tail_01.png"/>
        <h3>猜你喜欢</h3>
    </div>


    <div class="tail_b">
        <ul>
            <!--循环项目-->
            {volist name="adp" id="vo" length="24"}
            <li><a href="/project/{$vo.project_id}" tpl-project="">
                <img src="{$vo.image}"/>
            </a></li>
            {/volist}
        </ul>
        <div style="clear:both"></div>
    </div>


    <!--猜你喜欢结束-->
</div>

<div class="clear"></div>

<!-- 这是底部开始 -->
{include file="public/footer"}


<script src="__PUB08__/js/main.js"></script>
<script>
    var search = {$search};
    var class_id = search.class_id;
    var area = search.area;
    var money = search.money;
    $(".f-class").click(function () {
        class_id = $(this).attr("data-f_class");
        getAdp();
    });
    $(".son-class").click(function () {
        class_id = $(this).attr("data-s_class");
        getAdp();
    });
    $(".money").click(function () {
        money = $(this).attr("data-money");
        getAdp();
    });
    $(".area").click(function () {
        area = $(this).attr("data-area");
        getAdp();
    });

    function getAdp() {
        if (class_id == '') {
            if (area != '' && money != '')
                window.location.href = "/slist/f/" + area + "/" + money;
            else if (area === '' && money != '')
                window.location.href = "/slist/f/f/" + money;
            else if (area != '' && money == '')
                window.location.href = "/slist/f/" + area;
            else
                window.location.href = "/slist/"
        } else {
            if (area != '' && money != '')
                window.location.href = "/slist/" + class_id + "/" + area + "/" + money;
            else if (area == '' && money != '')
                window.location.href = "/slist/" + class_id + "/f/" + money;
            else if (area != '' && money == '')
                window.location.href = "/slist/" + class_id + "/" + area;
            else
                window.location.href = "/slist/" + class_id;
        }
    }


    $(function () {
        $(".area").each(function () {
            if ($(this).attr('data-area') == search.area) {
                $(this).parent().addClass("on");
            }
        })
        $(".money").each(function () {
            if ($(this).attr('data-money') == search.money) {
                $(this).parent().addClass("on");
            }
        })
        $(".son-class").each(function () {
            if ($(this).attr('data-s_class') == search.class_id) {
                $(this).parent().addClass("on");
            }
        })

    })

</script>