body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    font-size: 1em;
}

.ui-draggable, .ui-droppable {
    background-position: top;
}

#ui-id-1 {
    background-color: white;
    font-size: 13px;
}