<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <aside class="sidebar-left">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <h1><a class="navbar-brand " href="__TEMPLATE__/index.html" id="logo-border">
                    <h3><img src="__ADMIN__/images/logo.png" alt="" style="margin-left: -13px"></h3></a></h1>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="sidebar-menu">
                    <li><a href="{:url('Index/index')}" class="left-font-size">
                        <svg class="icon left-icon-size" aria-hidden="true">
                            <use xlink:href="#icon-shouye"></use>
                        </svg>
                        <span> 首页</span></a></li>
                    <li><a href="{:url('Project/project')}" class="left-font-size">
                        <svg class="icon left-icon-size" aria-hidden="true">
                            <use xlink:href="#icon-xiangmuku"></use>
                        </svg>
                        <span> 项目管理</span></a></li>
                    <li><a href="{:url('Clientproject/clientproject')}" class="left-font-size">
                        <svg class="icon left-icon-size" aria-hidden="true">
                            <use xlink:href="#icon-xiangmu"></use>
                        </svg>
                        <span> 客户项目绑定</span></a></li>
                    <li><a href="{:url('Clas/clas')}" class="left-font-size">
                        <svg class="icon left-icon-size" aria-hidden="true">
                            <use xlink:href="#icon-huabanfuben"></use>
                        </svg>
                        <span> 分类管理</span></a></li>
                    <li><a href="{:url('Theme/theme')}" class="left-font-size">
                        <svg class="icon left-icon-size" aria-hidden="true">
                            <use xlink:href="#icon-Classifiedmanagement"></use>
                        </svg>
                        <span> 主题管理</span></a></li>
                    <li><a href="{:url('Website/website')}" class="left-font-size">
                        <svg class="icon left-icon-size" aria-hidden="true">
                            <use xlink:href="#icon-zhuti"></use>
                        </svg>
                        <span> 站点管理</span></a></li>
                    <li><a href="{:url('Ad/ad')}" class="left-font-size">
                        <svg class="icon left-icon-size" aria-hidden="true">
                            <use xlink:href="#icon-WEBSITE"></use>
                        </svg>
                        <span> 广告位管理</span></a></li>
                    <li><a href="{:url('ad_position/ad_position')}" class="left-font-size">
                        <svg class="icon left-icon-size" aria-hidden="true">
                            <use xlink:href="#icon-guanggao"></use>
                        </svg>
                        <span> 广告位项目管理</span></a></li>
                    <li><a href="{:url('Message/message ')}" class="left-font-size">
                        <svg class="icon left-icon-size" aria-hidden="true">
                            <use xlink:href="#icon-liuyan"></use>
                        </svg>
                        <span> 留言管理</span></a></li>
                    <li><a href="{:url('Article/article')} " class="left-font-size">
                        <svg class="icon left-icon-size" aria-hidden="true">
                            <use xlink:href="#icon-yuedu"></use>
                        </svg>
                        <span> 文章管理</span></a></li>
                </ul>
            </div>
        </nav>
    </aside>
</div>