{extend name="public/base"}

<!-- 内容开始 -->
{block name="content"}
<div class="main">
    <div class="addItem-top">
        <h3>编辑文章</h3>
    </div>
    <div class="addItem-con">
        <form action="{:url('article/do_release')}" method="post" enctype="multipart/form-data" id="uploadForm">
            <div class="con-item">
                <label for="item-input1" class="con-item-l">文章类型</label>
                <select id="item-type" class="con-item-r" name="type">
                    <option value="{$type_id}">当前类型:{$article_info.type}</option>
                    <option value="1">项目资讯</option>
                    <option value="2">创业资讯</option>
                    <option value="3">新闻资讯</option>
                    <option value="4">热门专题</option>
                    <option value="5">创业故事</option>
                </select>
                <select id="item-type2" class="con-item-r" name="project_id">
                    <option>当前项目: {$article_info.project_id ?? '未选择相关项目'}</option>
                    {volist name="project_info" id="vo"}
                    <option value="{$vo.project_id}">{$vo.name}</option>
                    {/volist}
                </select>
            </div>
            <div class="con-item">
                <label for="item-input1" class="con-item-l">标题</label>
                <input type="text" id="item-title" class="con-item-r" name="title" value="{$article_info['title']}">
            </div>
            <div class="con-item">
                <label for="item-input1" class="con-item-l">列表图片</label>
                <img src="{$article_info['lis_img']}" style="height: 200px;width: 300px">
            </div>
            <div class="con-item">
                <label for="item-input1" class="con-item-l">更换列图</label>
                <input type="file" id="pic_img" name='image'>
            </div>

            <div class="con-item">
                <label for="item-input1" class="con-item-l">简介</label>
                <input type="text" id="item-brief" class="con-item-r" name="brief" value="{$article_info['brief']}">
            </div>
            <div class="con-item">
                <label for="item-input1" class="con-item-l">内容</label>
                <textarea style="height: 200px;width: 300px;border-color: #DCDFE6" name="content"
                          id="item-content">{$article_info['content']}</textarea>
            </div>
            <div class="con-item">
                <label for="item-input1" class="con-item-l">来源</label>
                <input type="text" id="item-source" class="con-item-r" name="source" value="{$article_info['source']}">
            </div>
            <div class="login-btn">
                <input type="hidden" value="{$article_info['article_id']}" id="hide" name="article_id">
                <button id="publish" type="button">修改</button>
            </div>
        </form>
    </div>
</div>
{/block}

{block name="script"}
<!--提交表单-->
<script>
    $(function () {
        $("#publish").on('click', function (event) {
            // var formDate = new FormData("#uploadForm");

            var formDate = new FormData(document.getElementById("uploadForm"));
            formDate.append('img', $('#pic_img')[0].files[0]);
            var type_obj = $("#item-type").val();
            var pro_obj = $("#item-project").val();
            var title_obj = $("#item-title").val();
            var brief_obj = $("#item-brief").val();
            var content_obj = $("#item-content").val();
            var source_obj = $("#item-source").val();
            formDate.append('type', type_obj);
            formDate.append('title', title_obj);
            formDate.append('project_id', pro_obj);
            formDate.append('brief', brief_obj);
            formDate.append('content', content_obj);
            formDate.append('source', source_obj);
            $.ajax({
                type: "POST",
                url: "{:url('article/change_self_article')}",
                data: formDate,
                async: false,
                processData: false,
                contentType: false,
                cache: false,
                beforeSend: function () {
                    console.log("正在进行，请稍候");
                },
                success: function (data) {   //返回值状态为1才执行
                    if (data.status == 1) {
                        alert(data.message);
                    } else {
                        alert(data.message);
                    }
                }
            })
        })
    })
</script>
<!--项目类型二级联动-->

{/block}
