{extend name="public/base"}

<!-- 内容开始 -->
{block name="content"}
<div class="main">
    <div class="addItem-top">
        <h3>编辑文章</h3>
    </div>
    <div class="addItem-con">
        <form action="{:url('article/do_release')}" method="post" enctype="multipart/form-data" id="uploadForm">
            <div class="con-item">
                <label for="item-input1" class="con-item-l">文章类型</label>
                <select id="item-type" class="con-item-r" name="type">
                    <option value="{$type_id}">当前类型:{$article_info.type}</option>
                    <option value="1">项目资讯</option>
                    <option value="2">创业资讯</option>
                    <option value="3">新闻资讯</option>
                    <option value="4">热门专题</option>
                    <option value="5">创业故事</option>
                </select>
                <select id="item-type2" class="con-item-r" name="project_id">
                    <option>当前项目: {$article_info.project_id ?? '未选择相关项目'}</option>
                    {volist name="project_info" id="vo"}
                    <option value="{$vo.project_id}">{$vo.name}</option>
                    {/volist}
                </select>
            </div>
            <div class="con-item">
                <label for="item-input1" class="con-item-l">标题</label>
                <input type="text" id="item-title" class="con-item-r" name="title" value="{$article_info['title']}">
            </div>
            <div class="con-item">
                <label for="item-input1" class="con-item-l">列表图片</label>
                <img src="{$article_info['lis_img']}" style="height: 200px;width: 200px">
            </div>
            <div class="con-item">
                <label for="item-input1" class="con-item-l">更换列图</label>
                <input type="file" id="pic_img" name='image'>
            </div>

            <div class="con-item">
                <label for="item-input1" class="con-item-l">简介</label>
                <input type="text" id="item-brief" class="con-item-r" name="brief" value="{$article_info['brief']}">
            </div>
            <div class="con-item">
                <label class="con-item-l">内容</label>
                <div id="editor" style="height: 300px;width: 800px;margin-left: 120px">
                    <p>{$article_info['content']}</p>
                </div>
            </div>

            <div class="con-item" style="margin-top: 50px">
                <label for="item-input1" class="con-item-l">来源</label>
                <input type="text" id="item-source" class="con-item-r" name="source" value="{$article_info['source']}">
            </div>
            <div class="login-btn">
                <input type="hidden" value="{$article_info['article_id']}" id="hide" name="article_id">
                <button id="publish" type="button">修改</button>
            </div>
        </form>
    </div>
</div>
{/block}

{block name="script"}
<!--提交表单-->
<script>
    $(function () {
        $("#publish").on('click', function (event) {
            // var formDate = new FormData("#uploadForm");

            var formDate = new FormData(document.getElementById("uploadForm"));
            var type_obj = $("#item-type").val();
            var pro_obj = $("#item-project").val();
            var title_obj = $("#item-title").val();
            var brief_obj = $("#item-brief").val();
            var content_obj = $("#item-content").val();
            var source_obj = $("#item-source").val();
            formDate.append('type', type_obj);
            formDate.append('title', title_obj);
            formDate.append('project_id', pro_obj);
            formDate.append('brief', brief_obj);
            formDate.append('content', editor.txt.html());
            formDate.append('source', source_obj);
            $.ajax({
                type: "POST",
                url: "{:url('article/change_self_article')}",
                data: formDate,
                async: false,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {   //返回值状态为1才执行
                    if (data.status == 1) {
                        alert(data.message);
                        window.location.href="{:url('article/show_self_article')}";
                    } else {
                        alert(data.message);
                    }
                }
            })
        })
    })
</script>
<!--富文本框-->
<script type="text/javascript" src="__STATIC__/customer_public/js/wangEditor.min.js"></script>
<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#editor');
    editor.customConfig.uploadImgShowBase64 = true;
    editor.customConfig.uploadImgServer = "{:url('edtior_upload')}";  // 上传图片到服务器
    editor.customConfig.uploadImgMaxLength = 1;  // 限制一次最多上传 5 张图片
    editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024;      // 限制上传最大3M
    editor.customConfig.uploadFileName = 'file';// 自定义文件名
    editor.customConfig.uploadImgTimeout = 5000;
    editor.customConfig.uploadImgHooks = {
        before: function (xhr, editor, files) {
            // 图片上传之前触发
            // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，files 是选择的图片文件

            // 如果返回的结果是 {prevent: true, msg: 'xxxx'} 则表示用户放弃上传
            // return {
            //     prevent: true,
            //     msg: '放弃上传'
            // }
            // alert("前奏");
        },
        success: function (xhr, editor, result) {
            // 图片上传并返回结果，图片插入成功之后触发
            // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
            // var url = result.data.url;
            // alert(JSON.stringify(url));
            // editor.txt.append(url);
            // alert("成功");
        },
        fail: function (xhr, editor, result) {
            // 图片上传并返回结果，但图片插入错误时触发
            // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
            alert("失败");
        },
        error: function (xhr, editor) {
            // 图片上传出错时触发
            // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
            // alert("错误");
        },
        // 如果服务器端返回的不是 {errno:0, data: [...]} 这种格式，可使用该配置
        // （但是，服务器端返回的必须是一个 JSON 格式字符串！！！否则会报错）
        customInsert: function (insertImg, result, editor) {
            // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
            // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果
            // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
            /* var url = result['data'];
             alert(url);
             insertImg(url);*/
            // result 必须是一个 JSON 格式字符串！！！否则报错
            //console.log(result);
            insertImg(result.url);
        }
    };

    editor.create(); //创建文本框
    var content = editor.txt.html();
</script>
{/block}
