{extend name="public/base"}

<!-- 内容开始 -->
{block name="content"}
<div class="main">
    <div class="addItem-top">
        <h3>发布文章</h3>
    </div>
    <div class="addItem-con">
        <form action="{:url('article/do_release')}" method="post" enctype="multipart/form-data" id="uploadForm">
            <div class="con-item">
                <label for="item-input3" class="con-item-l">文章类型</label>
                <select id="item-type" class="con-item-r" name="type">
                    <option value="">请选择文章类型</option>
                    <option value="1">项目资讯</option>
                    <option value="2">创业资讯</option>
                    <option value="3">新闻资讯</option>
                    <option value="4">热门专题</option>
                    <option value="5">创业故事</option>
                </select>
                <select id="item-type2" class="con-item-r" name="project_id">
                    <option value="">请选择相关项目</option>
                    {volist name="project_info" id="vo"}
                    <option value="{$vo.project_id}">{$vo.name}</option>
                    {/volist}
                </select>
            </div>
            <div class="con-item">
                <label for="item-input1" class="con-item-l">标题</label>
                <input type="text" id="item-title" class="con-item-r" name="title"/>
            </div>
            <div class="con-item">
                <label for="item-input2" class="con-item-l">列表图片</label>
                <input type="file" id="pic_img" name='image'/>
            </div>
            <div class="con-item">
                <label for="item-input1" class="con-item-l">简介</label>
                <input type="text" id="item-brief" class="con-item-r" name="brief"/>
            </div>
            <div class="con-item">
                <label class="con-item-l">内容</label>
                <div id="editor" style="height: 300px;width: 800px;margin-left: 120px">
                </div>
            </div>

            <div class="con-item" style="margin-top: 50px">
                <label for="item-input1" class="con-item-l">来源</label>
                <input type="text" id="item-source" class="con-item-r" name="source"/>
            </div>
            <div class="login-btn">
                <button id="publish" type="button">发布</button>
            </div>
        </form>
    </div>
</div>
{/block}

{block name="script"}
<!--提交表单-->
<script>
    $(function () {
        $("#publish").on('click', function (event) {
            // var formDate = new FormData("#uploadForm");
            var formDate = new FormData(document.getElementById("uploadForm"));
            //    alert(editor.txt.html());
            var type_obj = $("#item-type").val();
            var title_obj = $("#item-title").val();
            var brief_obj = $("#item-brief").val();
            var content_obj = $("#item-content").val();
            var source_obj = $("#item-source").val();
            formDate.append('type', type_obj);
            formDate.append('title', title_obj);
            formDate.append('brief', brief_obj);
            formDate.append('content', editor.txt.html());
            formDate.append('source', source_obj);
            $.ajax({
                type: "POST",
                url: "{:url('article/do_release')}",
                data: formDate,
                async: false,
                processData: false,
                contentType: false,
                cache: false,
                beforeSend: function () {
                    console.log("正在进行，请稍候");
                },
                success: function (data) {   //返回值状态为1才执行
                    if (data.status == 1) {
                        alert(data.message);
                        window.location.href = "{:url('article/show_self_article')}";
                    } else {
                        alert(data.message);
                    }
                }
            })
        })
    })
</script>
<!--富文本编辑器-->
<script type="text/javascript" src="__STATIC__/customer_public/js/wangEditor.min.js"></script>
<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#editor');
    // 或者 var editor = new E( document.getElementById('editor') )
    //开启debug模式
    editor.customConfig.debug = true;
    editor.customConfig.uploadImgServer = "../common/upload.php/file"; //上传图片到服务器      ？？？上传类？
    editor.customConfig.uploadFileName = "file";//文件名称，后台接收的参数值
    editor.customConfig.uploadImgHeaders = {  //header 头信息
        'Accept': 'text/x-json'
    };
    editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024;  //设置允许上传的最大值
    editor.customConfig.uploadImgShowBase64 = false;   //使用base64保存图片
    // editor.customConfig.customAlert = function (info) { //自己设置alert错误信息
    //     // info 是需要提示的内容
    //     alert(‘自定义提示：‘ + ‘图片上传失败，请重新上传‘)
    // };
    //图片在编辑器中回显
    editor.customConfig.uploadImgHooks={
      error:function (xhr,editor) {
          alert("2：" + xhr + "请查看你的json格式是否正确，图片并没有上传");
          // 图片上传出错时触发  如果是这块报错 就说明文件没有上传上去，直接看自己的json信息。是否正确
          // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
      },
        fail: function (xhr, editor, result) {
            //  如果在这出现的错误 就说明图片上传成功了 但是没有回显在编辑器中，我在这做的是在原有的json 中添加了
            //  一个url的key（参数）这个参数在 customInsert也用到
            //
            alert("1：" + xhr + "请查看你的json格式是否正确，图片上传了，但是并没有回显");
        },
        success:function(xhr, editor, result){
            //成功 不需要alert 当然你可以使用console.log 查看自己的成功json情况
            //console.log(result)
            // insertImg(‘https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/bd_logo1_31bdc765.png‘)
        },
    };
    editor.customConfig.showLinkImg = true; //是否开启网络图片，默认开启的。


    editor.create(); //创建文本框
</script>
{/block}
