{extend name="public/base"}

<!-- 首屏开始 -->


<!--首屏结束-->
<!--搜索栏开始-->

<!--搜索栏结束-->
{block name="content"}
{include file="public/hurdle"}
<div class="page-zhome-content">
    <div class="page-inner topinner">
        <!--  项目分类  -->
        <ul id="zhome-ul-menu" class="div-left ul-menu">
            <!-- <z:if condition="${Catalog.Alias!='project_ws'}"> -->
            {volist name="clas" id="vo"}
            <li>
                <a href="slist/{$vo.class_id}" target="_self" class="link">{$vo.name} /{volist
                    name="vo['son']" id="item"
                    length="1"}{$item.name}{/volist}
                    <i class="icon icon-ic-nav-arrow-grey"></i></a>
                <ul class="ul-submenu clearfix hidden">
                    <li class="li-title">
                        <a href="slist/{$vo.class_id}" target="_self"
                           class="link">{$vo.name}</a></li>
                    {volist name="vo['son']" id="item"}
                    <li>
                        <a href="slist/{$item.class_id}" target="_self" class="link">{$item.name}</a>
                    </li>
                    <li>
                        {/volist}
                </ul>
            </li>
            {/volist}
            <!--</z:if> -->
            <!-- <z:if condition="${Catalog.Alias!='project_ws'}"> -->

            <!--</z:if> -->
            <!--     <li class="erweimabox">
                     <p>扫一扫有惊喜</p>
                     <img src="__PUB08__/picture/newcode.png"/></li>-->
        </ul>
        <!--轮播图-->
        <div class="div-center">
            <div id="zhome-slideshow" class="div-slideshow">
                <div class="slideshow-images">
                    <div class="images-inner" style="width: 1760px; height: 194px; left: 0px;">
                        {volist name = "ad_position" id = "item"}
                        {if $item.ad_id eq 1001 && $i<=6}
                        <a href="project/{$item.project_id}" data-id="76730"
                           data-type="cmsad" target="_self" class="link">
                            <img src="{$item.image}" class="img"/></a>
                        {else/}{php}$i--;{/php}
                        {/if}
                        {/volist}
                    </div>
                </div>
                <div class="slideshow-dots">
                    <div class="dots-inner"></div>
                </div>
                <!--<div class="slideshow-dots">
        <div class="dots-inner">
        <div class="icon icon-slide-dot-active" data-idx="0"></div>
        <div class="icon icon-slide-dot-normal" data-idx="1"></div></div>
        </div>-->
                <!--轮播图下面-->
            </div>
            <div class="div-zhome-panel">
                <div class="div-title">
                    <div class="div-inner clearfix">
                        <a href="#" target="_self" class="link-title icon-bg-block-1">
                            <i>
                            </i>
                        </a>
                        <div data-id="pc1_a02_label" data-type="cmsadpos"></div>
                        {volist name = "ad_position" id = "item"}
                        {if $item.ad_id eq 1002 && $i<=6}
                        <a href="project/{$item.project_id}" data-id="54613"
                           data-type="cmsad" target="_self" class="link-other">{$item.name}</a>
                        {else/}{php}$i--;{/php}
                        {/if}
                        {/volist}
                        <a href="slist" target="_self" class="link-more">MORE</a></div>
                </div>
                <div class="div-body">
                    <div class="div-inner clearfix">
                        <div class="swiper-wrapper">
                            {volist name = "ad_position" id = "item"}
                            {if $item.ad_id eq 1003 && $i<=4}
                            <a href="project/{$item.project_id}" data-id="80651"
                               data-type="cmsad" target="_self" class="link">
                                <img src="{$item.image}" class="img" alt=""></a>
                            {else/}{php}$i--;{/php}
                            {/if}
                            {/volist}
                        </div>
                        <div class="swiper-pagination" style="top: 90%;"></div>
                    </div>
                </div>
            </div>
            <div class="div-zhome-panel">
                <div class="div-title">
                    <div class="div-inner clearfix">
                        <a href="#" target="_self" class="link-title icon-bg-block-2">
                            <i>
                            </i>
                        </a>
                        <div data-id="pc1_a03_label" data-type="cmsadpos"></div>
                        {volist name = "ad_position" id = "item"}
                        {if $item.ad_id eq 1004 && $i<=6}
                        <a href="project/{$item.project_id}"  data-type="cmsad" target="_self"
                           class="link-other">{$item.name}</a>
                        {else/}{php}$i--;{/php}
                        {/if}
                        {/volist}
                        <a href="slist" target="_self" class="link-more">MORE</a>
                    </div>
                </div>
                <div class="div-body" data-id="pc1_a03" data-type="cmsadpos">
                    <div class="div-inner clearfix">
                        {volist name = "ad_position" id = "item"}
                        {if $item.ad_id eq 1005 && $i<=6}
                        <a href="project/{$item.project_id}" 
                           data-type="cmsad" target="_self" class="link">
                            <img src="{$item.image}" class="img" alt=""/></a>
                        {else/}{php}$i--;{/php}
                        {/if}
                        {/volist}
                    </div>
                </div>
            </div>
        </div>
        <!--头条-->
        <div class="div-right">
            <div class="div-zhome-rpanel">
                <div class="div-nav-login" id="hornDiv">
                    <span class="l-index-horn"></span>
                    <ul class="l-horn-ul" id="hornUl" style="margin-top: 0px;">
                        {volist name = "ad_position" id = "item"}
                        {if $item.ad_id eq 1006}
                        <li>
                            <a href="project/{$item.project_id}">{$item.name}诚邀加盟</a></li>
                        {/if}
                        {/volist}
                    </ul>
                </div>
                <div class="div-title">
                    <div class="div-inner clearfix">
                        <h1></h1>
                    </div>
                </div>
                <div class="div-body" data-id="pc1_a04" data-type="cmsadpos">
                    <div class="div-inner clearfix">
                        {volist name = "ad_position" id = "item"}
                        {if $item.ad_id eq 1007 && $i<=10}
                        <a href="project/{$item.project_id}"
                           data-id="29515" data-type="cmsad" target="_self" class="link link-active">
                            <i class="icon-ic-panel-rank icon-ic-panel-rank-1r"></i>
                            <span class="text-num">{$i}</span>
                            <span class="text-name">{$item.name}</span>
                            <span class="text-hot">
                <i class="icon icon-ic-panel-fire-small"></i>{$item.attention}</span>
                        </a>
                        {else/}{php}$i--;{/php}
                        {/if}
                        {/volist}
                    </div>
                </div>
            </div>
            <!--资讯小表-->
            <div id="div-zhome-list-text" class="div-zhome-list-text">
                <div class="div-title">
                    <a href="#" class="link-tab link-active">资讯</a>
                    <a href="#" class="link-tab">专题</a></div>
                <div class="div-body" id="zxScroll">
                    <div class="div-inner clearfix">
                        <div class="content-tab" id="zxScrollContent" style="margin-top: -6.96965px;">
                            {volist name = "article_p" id = "vo"}
                            <a href="article/{$vo.article_id}" class="link">
                                <i class="icon icon-ic-dot-red"></i>{$vo.title}</a>
                            {/volist}
                        </div>
                        <div class="content-tab hidden">
                            {volist name = "article_b" id = "vo"}
                            {if $i<=10}
                            <a href="article/{$vo.article_id}" class="link">
                                <i class="icon icon-ic-dot-red"></i>{$vo.title}</a>
                            {else/}{php}$i--;{/php}
                            {/if}
                            {/volist}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 上面是首屏结束 -->


<!-- 餐饮美食开始 -->
<div id="f8" class="floor bottom">
    <div class="main">
        <div class="top">
            <p>
                {volist name = "ad_position" id = "item"}
                {if $item.ad_id eq 1008 && $i<=6}
                <a target="_self" href="project/{$item.project_id}">{$item.name}</a>|
                {else/}{php}$i--;{/php}
                {/if}
                {/volist}
            </p>
            <div class="clearfix"></div>
        </div>
        <div class="left">
            <div class="l_top">
                {volist name = "ad_position" id = "item"}
                {if $item.ad_id eq 1012 && $i<=1}
                <div class="topMain">
                    <i class="light"></i>
                    <h4>{item.name}</h4>
                    <dl>
                        <dt>
                            <img src="{$item.image}" alt=""/></dt>
                        <dd class="one">{item.abbr}</dd>
                        <dd class="two">
              <span>关注度：
                <i>{item.attention}万</i>
              </span>
                            <span>咨询：
                <i>{item.click_num}</i>
              </span>
                        </dd>
                    </dl>
                    <div class="btns">
                        <a href="project/{$item.project_id}" target="_self">查看详情</a>
                        <a href="#" target="_self" class="active">立即咨询</a></div>
                </div>
                {else/}{php}$i--;{/php}
                {/if}
                {/volist}
            </div>
            <div class="l_com">
                {volist name = "ad_position" id = "item"}
                {if $item.ad_id eq 1013 && $i<=1}
                <dl>
                    <dt>
                        <img src="{$item.image}" alt=""/></dt>
                    <dd>{item.abbr}</dd>
                </dl>
                <div class="btns">
                    <a href="project/{$item.project_id}" target="_self">查看详情</a>
                    <a href="#" target="_self" class="active">立即咨询</a></div>
                {else/}{php}$i--;{/php}
                {/if}
                {/volist}
                <ul>
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1011 && $i<=4}
                    <li>
                        <a href="project/{$item.project_id}" target="_self">
                            <img src="{$item.image}" alt=""/></a>
                    </li>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </ul>

            </div>
        </div>
        <div class="right">
            <div class="topImg">
                <ul>
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1009 && $i<=8}
                    <li>
                        <a href="project/{$item.project_id}" target="_self">
                            <img src="{$item.image}" alt=""/></a>
                    </li>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </ul>
            </div>
            <div class="mainImg">
                <div class="box">
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1010 && $i<=24}
                    <dl>
                        <a href="project/{$item.project_id}">
                            <dt>
                                <img src="{$item.image}" alt=""/></dt>
                            <dd>{$item.name}</dd>
                        </a>
                    </dl>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<!-- 餐饮美食结束 -->

<!-- 服装鞋帽开始 -->
<div id="f9" class="floor bottom">
    <div class="main">
        <div class="top">
            <p>
                {volist name = "ad_position" id = "item"}
                {if $item.ad_id eq 1014 && $i<=6}
                <a target="_self" href="project/{$item.project_id}">{$item.name}</a>|
                {else/}{php}$i--;{/php}
                {/if}
                {/volist}
            </p>
            <div class="clearfix"></div>
        </div>
        <div class="left">
            <div class="l_top">
                {volist name = "ad_position" id = "item"}
                {if $item.ad_id eq 1018 && $i<=1}
                <div class="topMain">
                    <i class="light"></i>
                    <h4>{item.name}</h4>
                    <dl>
                        <img src="{$item.image}" alt=""/></dt>
                        <dd class="one">{item.abbr}</dd>
                        <dd class="two"><span>关注度：<i>{item.attention}万</i></span><span>咨询：<i>{item.click_num}</i></span>
                        </dd>
                    </dl>
                    <div class="btns">
                        <a href="project/{$item.project_id}" target="_self">查看详情</a>
                        <a href="#" target="_self" class="active">立即咨询</a>
                    </div>
                </div>
                {else/}{php}$i--;{/php}
                {/if}
                {/volist}
            </div>

            <div class="l_com">
                {volist name = "ad_position" id = "item"}
                {if $item.ad_id eq 1019 && $i<=1}
                <dl>
                    <dt><img src="{$item.image}" alt=""/></dt>
                    <dd>{item.abbr}</dd>
                </dl>
                <div class="btns">
                    <a href="project/{$item.project_id}" target="_self">查看详情</a>
                    <a href="#" target="_self" class="active">立即咨询</a>
                </div>
                {else/}{php}$i--;{/php}
                {/if}
                {/volist}
                <ul>
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1017 && $i<=4}
                    <li><a href="project/{$item.project_id}" target="_self">
                        <img src="{$item.image}" alt=""/></a></li>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="topImg">
                <ul>
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1015 && $i<=8}
                    <li>
                        <a href="project/{$item.project_id}" target="_self">
                            <img src="{$item.image}" alt=""/></a>
                    </li>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </ul>
            </div>
            <div class="mainImg">
                <div class="box">

                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1016 && $i<=24}
                    <dl>
                        <a href="project/{$item.project_id}">
                            <dt>
                                <img src="{$item.image}" alt=""/></dt>
                            <dd>{$item.name}</dd>
                        </a>
                    </dl>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}

                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- 服装鞋帽结束 -->


<!-- 家居建材开始 -->
<div id="f10" class="floor bottom">
    <div class="main">
        <div class="top">
            <p>
                {volist name = "ad_position" id = "item"}
                {if $item.ad_id eq 1020 && $i<=6}
                <a target="_self" href="project/{$item.project_id}">{$item.name}</a>|
                {else/}{php}$i--;{/php}
                {/if}
                {/volist}
            </p>
            <div class="clearfix"></div>
        </div>
        <div class="left">
            <div class="l_top">
                <div class="topMain">
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1024 && $i<=1}
                    <i class="light"></i>
                    <h4>{item.name}</h4>
                    <dl>
                        <dt><img src="{$item.image}" alt=""/></dt>
                        <dd class="one">{item.abbr}</dd>
                        <dd class="two"><span>关注度：<i>{item.attention}万</i></span><span>咨询：<i>{item.click_num}</i></span>
                        </dd>
                    </dl>
                    <div class="btns">
                        <a href="project/{$item.project_id}" target="_self">查看详情</a>
                        <a href="#" target="_self" class="active">立即咨询</a>
                    </div>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </div>
            </div>
            <div class="l_com">
                {volist name = "ad_position" id = "item"}
                {if $item.ad_id eq 1025 && $i<=1}
                <dl>
                    <dt><img src="{$item.image}" alt=""/></dt>
                    <dd>{$item.image}</dd>
                </dl>
                <div class="btns">
                    <a href="project/{$item.project_id}" target="_self">查看详情</a>
                    <a href="#" target="_self" class="active">立即咨询</a>
                </div>
                {else/}{php}$i--;{/php}
                {/if}
                {/volist}
                <ul>
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1023 && $i<=4}
                    <li><a href="project/{$item.project_id}" target="_self">
                        <img src="{$item.image}" alt=""/></a></li>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="topImg">
                <ul>
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1021 && $i<=8}
                    <li><a href="project/{$item.project_id}" target="_self">
                        <img src="{$item.image}" alt=""/></a></li>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </ul>
            </div>
            <div class="mainImg">
                <div class="box">
                    {volist name = "ad_position" id = "item"}
                    {if $item.ad_id eq 1022 && $i<=24}
                    <dl>
                        <a href="project/{$item.project_id}">
                            <dt>
                                <img src="{$item.image}" alt=""/></dt>
                            <dd>{$item.name}</dd>
                        </a>
                    </dl>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- 家居建材结束 -->


<!-- 热门资讯开始 -->
<div class="div-zhome-block div-zhome-jmzx">
    <div class="div-inner">
        <div class="div-title">
            <h1>
                <img src="__PUB08__/picture/headlines-jmzx.png" alt="">热门资讯</h1>
            <a href="newslist" target="_self" class="link-more">
                <i>
                </i>查看更多</a>
        </div>
        <div class="div-body clearfix">
            <div class="div-col-2x5">
                <ul>
                    <li class="link-active" style="box-shadow: none; top: 0px;">
                        <h2>项目资讯</h2>
                        <div class="div-item">
                            {volist name ="article_p" id = "item" length="1"}
                            <a href="article/{$item.article_id}" class="link-topic">
                                <div class="div-img">
                                    <img src="{$item.lis_img}" class="img" alt=""></div>
                                <div class="div-text">{$item.title}
                                    <span>{$item.create_time}</span></div>
                            </a>
                            {/volist}
                            {volist name="article_p" id="item" offset="1" length="3"}
                            <a href="article/{$item.article_id}" class="link">
                                <i class="icon icon-ic-dot-grey fl"></i>
                                <span class="fl texts">{$item.title}</span>
                                <span class="fr time">{$item.create_time}</span></a>

                            {/volist}
                        </div>
                    </li>
                    <li class="" style="box-shadow: none; top: 0px;">
                        <h2>创业资讯</h2>
                        <div class="div-item">
                            {volist name ="article_b" id = "item" length="1"}
                            <a href="article/{$item.article_id}" class="link-topic">
                                <div class="div-img">
                                    <img src="{$item.lis_img}" class="img" alt=""></div>
                                <div class="div-text">{$item.title}
                                    <span>{$item.create_time}</span></div>
                            </a>
                            {/volist}
                            {volist name="article_b" id="item" offset="1" length="3"}
                            <a href="article/{$item.article_id}" class="link">
                                <i class="icon icon-ic-dot-grey fl"></i>
                                <span class="fl texts">{$item.title}</span>
                                <span class="fr time">{$item.create_time}</span></a>

                            {/volist}
                        </div>
                    </li>
                    <li>
                        <h2>新闻资讯</h2>
                        <div class="div-item">
                            {volist name ="article_n" id = "item" length="1"}
                            <a href="article/{$item.article_id}" class="link-topic">
                                <div class="div-img">
                                    <img src="{$item.lis_img}" class="img" alt=""></div>
                                <div class="div-text">{$item.title}
                                    <span>{$item.create_time}</span></div>
                            </a>
                            {/volist}
                            {volist name="article_n" id="item" offset="1" length="3"}
                            <a href="article/{$item.article_id}" class="link">
                                <i class="icon icon-ic-dot-grey fl"></i>
                                <span class="fl texts">{$item.title}</span>
                                <span class="fr time">{$item.create_time}</span></a>

                            {/volist}
                        </div>
                    </li>
                    <li>
                        <h2>热门专题</h2>
                        <div class="div-item">
                            {volist name ="article_h" id = "item" length="1"}
                            <a href="article/{$item.article_id}" class="link-topic">
                                <div class="div-img">
                                    <img src="{$item.lis_img}" class="img" alt=""></div>
                                <div class="div-text">{$item.title}
                                    <span>{$item.create_time}</span></div>
                            </a>
                            {/volist}
                            {volist name="article_h" id="item" offset="1" length="3"}
                            <a href="article/{$item.article_id}" class="link">
                                <i class="icon icon-ic-dot-grey fl"></i>
                                <span class="fl texts">{$item.title}</span>
                                <span class="fr time">{$item.create_time}</span></a>
                            {/volist}
                        </div>
                    </li>
                    <li>
                        <h2>创业故事</h2>
                        <div class="div-item">
                            {volist name ="article_s" id = "item" length="1"}
                            <a href="article/{$item.article_id}" class="link-topic">
                                <div class="div-img">
                                    <img src="{$item.lis_img}" class="img" alt=""></div>
                                <div class="div-text">{$item.title}
                                    <span>{$item.create_time}</span></div>
                            </a>
                            {/volist}
                            {volist name="article_s" id="item" offset="1" length="3"}
                            <a href="article/{$item.article_id}" class="link">
                                <i class="icon icon-ic-dot-grey fl"></i>
                                <span class="fl texts">{$item.title}</span>
                                <span class="fr time">{$item.create_time}</span></a>
                            {/volist}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 热门资讯结束 -->



<!-- 创业项目推荐开始 -->
<div class="cyxmT Gdv-com">
    <div class="hd">
        <h2 class="fl">创业项目推荐</h2>
        <span class="fr">
        {volist name = "ad_position" id = "item"}
         {if $item.ad_id eq 1027 && $i<=6}
      <a href="project/{$item.project_id}" title="{$item.name}加盟" target="_self">{$item.name}加盟</a>
         {else/}{php}$i--;{/php}
          {/if}
         {/volist}
        </span>
    </div>
    <div class="bd">
        <div class="cyxmT-box clearfix">
            <!--循环开始-->
            {php}$k=1028;{/php}
            {volist name="clas" id="vo" length="3"}
            <dl>
                <dt>
                    <a href="slist/{$vo.class_id}" target="_self" title="{$vo.name}">{$vo.name}</a>
                    <span class="red">
            <a target="_self" title="{$vo.describe}" href="slist/{$vo.class_id}">{$vo.describe}</a></span>
                </dt>
                <dd>
                    {volist name = "ad_position" id = "item" length="20"}
                    {if $item.ad_id eq $k && $i<=20}
                    <a href="project/{$item.project_id}" title="{$item.name}"
                       target="_self">{$item.name}</a>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </dd>
                <em class="hot"></em>
            </dl>
            {php}$k++;{/php}
            {/volist}
            <!--循环结束1-->
            {volist name="clas" id="vo" offset="3" length="3"}
            <dl>
                <dt>
                    <a href="slist/{$vo.class_id}" target="_self" title="{$vo.name}">{$vo.name}</a>
                    <span class="blue">
            <a target="_self" title="{$vo.describe}" href="slist/{$vo.class_id}">{$vo.describe}</a></span>
                </dt>
                <dd>
                    {volist name = "ad_position" id = "item" }
                    {if $item.ad_id eq $k && $i<=20}
                    <a href="project/{$item.project_id}" title="{$item.name}"
                       target="_self">{$item.name}</a>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </dd>
            </dl>
            {php}$k++;{/php}
            {/volist}

            {volist name="clas" id="vo" offset="6" length="3"}
            <dl>
                <dt>
                    <a href="slist/{$vo.class_id}" target="_self" title="{$vo.name}">{$vo.name}</a>
                    <span class="green">
            <a target="_self" title="{$vo.describe}" href="slist/{$vo.class_id}">{$vo.describe}</a></span>
                </dt>
                <dd>
                    {volist name = "ad_position" id = "item" }
                    {if $item.ad_id eq $k && $i<=20}
                    <a href="project/{$item.project_id}" title="{$item.name}"
                       target="_self">{$item.name}</a>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </dd>
            </dl>
            {php}$k++;{/php}
            {/volist}

            {volist name="clas" id="vo" offset="9" length="3"}
            <dl>
                <dt>
                    <a href="slist/{$vo.class_id}" target="_self" title="{$vo.name}">{$vo.name}</a>
                    <span class="orange">
            <a target="_self" title="{$vo.describe}" href="slist/{$vo.class_id}">{$vo.describe}</a></span>
                </dt>
                <dd>
                    {volist name = "ad_position" id = "item" }
                    {if $item.ad_id eq $k && $i<=20}
                    <a href="project/{$item.project_id}" title="{$item.name}"
                       target="_self">{$item.name}</a>
                    {else/}{php}$i--;{/php}
                    {/if}
                    {/volist}
                </dd>
            </dl>
            {php}$k++;{/php}
            {/volist}
        </div>
        <!-- 创业项目推荐结束 -->
        <!--热门推荐开始-->
     <div class="cyxmT-link">
            <ul>
                <li class="red">
                    {volist name = "ad_position" id = "item"  offset = "0" length="6"}
                    <a target="_self" title="$item.name}" href="project/{$item.project_id}" style="color: red">{$item.name}</a>
                    {/volist}
                </li>
                <li>
                    {volist name = "ad_position" id = "item"  offset = "6" length="6"}
                    <a target="_self" title="$item.name}" href="project/{$item.project_id}">{$item.name}</a>
                    {/volist}
                </li>
                <li class="red">
                    {volist name = "ad_position" id = "item"  offset = "12" length="6"}
                    <a target="_self" title="$item.name}" href="project/{$item.project_id}" style="color: red">{$item.name}！</a>
                    {/volist}
                </li>
            </ul>
        </div>
        <!--热门推荐结束-->
    </div>
</div>
{/block}

