<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>08商机网</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="__PUB08__/css/info-head-foot.css">
    <link rel="stylesheet" type="text/css" href="__PUB08__/css/header.css">
    <link rel="stylesheet" href="__PUB08__/css/km_new_infolist.css">
    <link rel="stylesheet" type="text/css" href="__PUB08__/css/zhome.css">
    <script src="__PUB08__/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="__PUB08__/js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="__PUB08__/js/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="__PUB08__/js/imgfix.js"></script>
    <script type="text/javascript" src="__PUB08__/js/global.js"></script>
    <script type="text/javascript" src="__PUB08__/js/index.js"></script>
    <script type="text/javascript" src="__PUB08__/js/zbody-header1.js"></script>
    <script src="__PUB08__/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="__PUB08__/js/zbody-nav1.js"></script>
    <!-- <script type="text/javascript" src="__PUB08__/js/mfjq2015.min.js"></script> -->
</head>
<body>
{include file="public/header"/}
{include file="public/search"}
<!--左侧导航-->
<div class="container clearfix">
    <!--左侧导航开始-->
    <div class="left-ctn l clearfix">

        <div class="nav-ctn">
            <div id='nav' class="bfff">
                <ul class="nav clearfix">

                    <li class="item1">
                        <a href="/"><span class="hdsy"></span>回到首页</a>
                    </li>


                    <li
                            {if condition="$type_id eq 1"}
                            class="active"
                            {/if}>
                        <a href="/newslist/1"><span class="xwzx"></span>项目资讯 </a>
                    </li>


                    <li  {if condition="$type_id eq 2"}
                         class="active"
                         {/if}
                    >
                        <a href="/newslist/2"><span class="rmzt"></span>创业咨询 </a>
                    </li>


                    <li
                            {if condition="$type_id eq 3"}
                            class="active"
                            {/if}>
                        <a href="/newslist/3"><span class="cyzs"></span>新闻咨询 </a>
                    </li>


                    <li
                            {if condition="$type_id eq 4"}
                            class="active"
                            {/if}>
                        <a href="/newslist/4"><span class="cygs"></span>热门咨询 </a>
                    </li>
                    <li {if condition="$type_id eq 5"}
                        class="active"
                        {/if}>
                        <a href="/newslist/5"><span class="cygs"></span>创业故事 </a>
                    </li>

                </ul>
                <!--      <div class="erweima">
                          <img src="__PUB08__/picture/newcode.png">
                          <span>扫码关注有惊喜</span>
                      </div>-->
            </div>
        </div>


        <div class="a-d-pic">

        </div>
        <!--左侧导航结束-->

        <!--内容开始-->
        <div id="tab" class="clearfix">
            <div class="pub-info">
                {volist name="article_info" id="vo"}
                <div class="pub-info-list ">
                    <a href="/article/{$vo.article_id}"><img src="{$vo.lis_img}" class="l"></a>
                    <a href="/article/{$vo.article_id}">
                        <h3 class="title">{$vo.title}</h3></a>
                    <p>
                        <span class="words-limit">{$vo.brief}</span>
                    </p>
                    <div class="publish-from">来源：{$vo.source} <span class="s1">{$vo.author}</span>

                        <span class="s3">
                                         {$vo.update_time}
                                </span>
                    </div>
                </div>
                {/volist}

                <!--显示页数-->
                <div class="pagenav clearfix">
                    <a href="#" class="link link-prev link-disabled">上一页</a><a href="#" class="link link-cur">1</a><a
                        href="#" class="link">2</a><a href="#" class="link">3</a><span class="link-text">....</span><a
                        href="#" class="link link-next">下一页</a>
                </div>
            </div>
        </div>
        <!--列表结束-->
    </div>
    <!--右侧咨询开始-->
  {include file="public/consult"}
    <!--右侧咨询结束-->
</div>
{include file="public/advertise"/}
{include file="public/footer"/}
<!--列表结束-->

<!--广告位结束-->

<!-- 这是底部开始 -->
<!--底部结束-->

