<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/customer_public/css/base.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/customer_public/css/index.css" />
</head>
<body>
    <div class="login-bg">
        <form action="">
            <div class="login">
                <img src="__STATIC__/customer_public/images/hsh.png" class="login-logo" alt="" />
                <input type="text" placeholder="账号" class="login-input" />
                <input type="text" placeholder="密码" class="login-input" />
                <input type="text" placeholder="验证码" class="login-input" />
                <div class="login-yzm">
                    <img src="{:captcha_src()}" alt="captcha" />
                </div>
                <div class="login-btn">
                    <button>登录</button>
                </div>
                <div class="login-ft">
                    <span>版本v1.0</span>
                </div>
            </div>
        </form>
    </div>
</body>
</html>